<p>Hello,</p>

<p>We have created an account to help you manage your conversations and bookings at TrueArtists.</p>

<p><%= link_to 'Click here', "#{ENV.fetch('ACCOUNT_SERVICE_URL')}/password/change_password?token=#{@token}" %> to set your password.</p>

<p>If you didn't create an account with us, please ignore this email.</p>

<p>TrueArtist Team</p>
