<p>Hello,</p>

<p>An account has been created on TruArtists with your email address.</p>

<p>Sign in using this email address and password <b><%= @password %></b>, and change your password.</p>

<p>If you didn't create an account with us, please ignore this email.</p>

<p>TrueArtist Team</p>
