<p>Hello <%= @user.full_name %>,</p>

<p>Your TrueArtists account password has been changed.</p>

<p>If you are not the one who performed this action, please reach out to us through info@trueartists.com for assistance.</p>

<p>Best,</p>

<p>TrueArtists</p>
