<p>Hello <%= @user.full_name %>,</p>

<p>Your TrueArtists account password has been changed.</p>

<p>If you did not change your password, <%= link_to 'click here', "#{ENV.fetch('ACCOUNT_SERVICE_URL')}/password/change_password?token=#{@token}" %> to reset it immediately.</p>

<p>Best,</p>

<p>TrueArtists</p>
