<h2>Reset your TrueArtists password</h2>

<p>Someone has requested a link to change your password, and you can do this through the link below.</p>

<p><%= link_to 'Reset password', "#{ENV.fetch('ACCOUNT_SERVICE_URL')}/password/change_password?token=#{@token}" %> </p>

<p>If you didn't request this, please ignore this email.</p>

<p>Your password won't change until you access the link above and create a new one.</p>

<p>Best</p>

<p>TrueArtists</p>
