<% set_meta_tags title: 'Articles',
                 description: 'Find articles.' %>

<div class="page-section gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 search-form">
        <%= form_for artists_path, html: { method: :get } do |f| %>
          <div class="sub-header">
            <h1>Articles</h1>
          </div>
          <div class="search-artists-form row">
            <div class="col-md-12">
              <div class="search-section">
                <%= text_field_tag "query", params[:query], class: '', placeholder: 'Search Articles on TrueArtists' %>
                <button type="submit" class="search search-box">
                  <i class="ta-icon-search basic-search"></i>
                </button>
              </div>
            </div>
          </div>
          <% if params[:query].present? %>
            <div class="selected-filters">
              <p>Showing search results for <b><%= params[:query] %></b></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="page-section">
  <div class="container">
    <div class="articles-lists row">
      <%= render @articles %>
    </div>
  </div>
</div>
