<% set_meta_tags title: @article.title,
                 description: @article.meta_description %>

<div class="page-section gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sub-header">
          <h1><%= @article.title %></h1>
        </div>
        <div>
          <img data-src="<%= url_for(@article.image) %>" class="lazyload" />
        </div>
      </div>
    </div>
  </div>
</div>
