<% set_meta_tags title: @article.title,
                 description: @article.meta_description %>

<div class="page-section gray-bg">
  <div class="container article-container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 article-content">
          <div class="sub-header">
            <h3><%= @article.title %></h3>
          </div>
          <div>
            <img data-src="<%= url_for(@article.image) %>" class="lazyload" />
          </div>
          <div class="article-body">
            <%= @article.content.html_safe %>
          </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

<%= render 'recommendations', similar_articles: @similar_articles %>
