.btn {
	border-radius: 0;
	font-size: 16 * $rem;
	color: #CB4D4D;
	padding: 12 * $rem 20 * $rem;
	line-height: 1.5;
}

.btn-md {
	padding: 15 * $rem 20 * $rem;
}

.btn-lg {
	padding: 17 * $rem 20 * $rem;
	min-width: 300 * $rem;
}

.btn-primary {
	color: #CB4D4D;
	background: #faf1f2;
	border-color: #faf1f2;

	&:active,
	&:focus,
	&:hover {
		background: #CB4D4D;
		color: #fff;
	}
}

.btn-secondary {
	color: #fff;
	background: #343434;
	border-color: #343434;

	&:active,
	&:focus,
	&:hover {
		background: #303030;
		color: #fff;
	}
}
