<% set_meta_tags title: "Best Tattoo Artists in #{@city_state}",
              description: "Find top certified tattoo artists in #{@city_state}. Book an appointment today." %>

<% set_meta_tags(canonical: city_state_artists_url(@city_state.slugorize))  %>

<% set_meta_tags(open_graph: {
   title: "Best Tattoo Artists in #{@city_state}",
   type: 'website',
   site_name: 'TrueArtists',
   url: city_state_artists_url(@city_state.slugorize),
   description: "Find top certified tattoo artists in #{@city_state}. Book an appointment today.",
 })
%>

<% set_meta_tags twitter: {
   card: 'summary_large_image',
   site: 'TrueArtists',
   title: "Best Tattoo Artists in #{@city_state}",
   description: "Find top certified tattoo artists in #{@city_state}. Book an appointment today.",
   url: city_state_artists_url(@city_state.slugorize),
 }
%>

<div class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sub-header align-items-center">
          <div>
            <h1>Top Tattoo Artists in <%= @city_state %></h1>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="artists-lists grid-gap-30 row">
          <%= render @artists %>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <%= paginate @artists %>
      </div>
    </div>
</div>
