<div class="page-section pt-0">
    <div class="container">
        <%= form_for artists_path, html: { remote: true, method: :get } do |f| %>
            <%= hidden_field_tag 'page', @meta[:current_page] + 1 %>
            <%= hidden_field_tag 'per_page', @meta[:limit_value] %>

            <div class="row">
                <div class="col-md-12">
                    <div class="sub-header row align-items-center">
                        <div class="col-md-6">
                            <h2>Browse Tattoo Artists</h2>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="select-box">
                                <span>Art Style</span>
                                <p>Any Style</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="artists-lists grid-gap-30 row">
                      <%= render @artists %>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <% unless @meta[:last_page] %>
                        <div class="see-more-section">
                            <button type="submit" class="btn btn-alternative btn-lg">See More</button>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>
