<p>Hello <%= @artist.name %>,</p>

<p>Thank you for signing up to submit your TrueArtist application.  We noticed that you signed in and haven’t completed your profile.  We wanted to follow up with you and make sure you weren’t experiencing issues with filling out your artist profile.</p>

<p><%= link_to 'Click Here', "#{ENV.fetch('ACCOUNT_SERVICE_URL')}/artists/#{@artist.slug}" %>, to complete your profile now and join the number one tattoo community and directory in the world.</p>

<p>Best Regards</p>

<p>TrueArtists Team</p>
