Hello <%= @artist.name %>,<br>

<p>Thank you for submitting your application to join TrueArtists.</p>

<p>We have received it and will review it within the next 5 business days and will notify you if your application has been accepted or rejected.</p>

<p>Remember, we do not charge your card unless you are approved to become a certified member of TrueArtists.</p>

<p>Until then, you may log in again and add more images and information to your profile.  The more quality images and info we have the better chance you have of being accepted.</p>

<p>We look forward to getting back to you with a positive response.</p>

<p>Best Regards</p>

<p>TrueArtists Team</p>
