<p>We'd like to remind you to upload new tattoo photos to TrueArtists.</p>

<p>Our data shows that Tattoo Artists with newer photos tend to receive most customer bookings.</p>

<p><%= link_to 'Click Here', "#{ENV.fetch('ACCOUNT_SERVICE_URL')}/dashboard/upload-tattoos" %>, to upload more photos.</p>

<p>Best Regards</p><br>

TrueArtists Team
