<p>You have a new booking at TrueArtists from <b><%= @user.full_name %></b></p>

<p><%= link_to 'Accept/Reject', "#{ENV.fetch('ACCOUNT_SERVICE_URL')}/dashboard/bookings/#{@booking.id}" %> to view the booking.</p>

<p>Best Regards</p>
<p>TrueArtist Team</p>
