.artist-left-sidebar {
  margin-bottom: 10px;
  background: $white-bg;
  padding: 30px 20px;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.03),0 0 1px 0 rgba(0,0,0,.03);

  .artist-p-info {
    img {
      border-radius: 50%;
      max-width: 96px;
      transform: translateZ(0);
      border-radius: 50%;
      height: 100px;
      object-fit: cover;
      width: 100%;
      max-width: 96px;
    }

    h1 {
      margin: 10px 0 5px;
      line-height: 1.56;
      font-weight: 600;
      font-size: 20px;
    }
  }
  p {
    color: $p-gray;
    font-size: 15px;
    margin: 2px 0;
  }
}
.artist-p-location {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
   justify-content: center;

    li {
      display: flex;
      align-items: center;
      margin: 0 5px;
      color: $gray-text-color;

      img {
        margin-right: 5px;
      }
    }
  }
}

.artist-p-style {
  margin-top: 30px;
  h4 {
    margin-bottom: 20px;
  }
  a {
    margin-left: 0 !important;
    margin-right: 10px;
    margin-bottom: 10px;

    &:hover {
      color: $secondary-color;
    }
  }

  .icon {
    font-size: 25px;
  }
}

.artist-p-work-locations {

  .artist-p-map {
    border-radius: 12px;
    iframe {
      border-radius: 12px;
    }
  }

  .artist-p-work-location {
    border-radius: 16px;
    height: 100%;

    h2 {
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 20px;
    }
  }
}
