.join-section {
  width: 700px;
  margin: 30px;

  button {
    position: absolute;
    color: $primary-color;
    background-color: $secondary-color;
    margin-top: 3px;
    height: 50px;
    margin-left: -102px;
    border-radius: 25px;
    width: 200px;
    font-size: 15px;
    font-weight: 600;
    border: none;
  }
}

.why-us {
  margin-top: 100px;

  .why-us-header {
    h1 {
      font-size: 28px;
    }

    h3 {
      font-size: 12px;
      letter-spacing: 4px;
      margin-bottom: 12px;
    }
  }

  .benefit {
    margin-top: 30px;
    padding: 0 30px;
    line-height: 30px;

    h4 {
      color: $red-gradient;
    }

    p {
      font-size: 14px;
    }

    img {
      width: 100px;
      height: 100px;
      margin-bottom: 5px;
    }

    button {
      color: $yellow-gradient;
      background-color: $secondary-color;
      opacity: 0.7;
      height: 40px;
      border-radius: 25px;
      width: 170px;
      font-size: 13px;
      font-weight: 600;
      border: none;
      margin: 10px auto;
    }
  }
}

.testimonials {
  .testimonials-header {
    margin: 45px 0;

    h1 {
      font-size: 28px;
    }

    h3 {
      font-size: 12px;
      letter-spacing: 4px;
      margin-bottom: 12px;
    }
  }

  .widget-quote-icon {
    margin-bottom: -90px;
    text-align: center;

    img {
      opacity: 0.2;
      width: 30px;
    }
  }

  .testimonial-widget {
    background-color: $white;
    padding: 60px 15px 25px;
    height: auto;
    margin: 40px 15px;
    border-radius: 8px;

    .list-content {
      padding: 15px;

      .profile-img {
        width: 50px;
        height: auto;
        border-radius: 50%;
        box-shadow: 0 4px 4px 0 rgba(156, 153, 153, 0.15);
        border: solid 2.6px #e9e9e9;
        margin-right: 10px;

        img {
          border-radius: 50%;

          &:hover {
            opacity: 0.7;
          }
        }
      }

      .profile-info {
        p {
          font-size: 14px;
          color: $gray-text-color;
        }
      }
    }
  }
}
