.artists-page-area {
  padding-bottom: 60px;
}

.sub-header {
  .filter-section {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}

.home-text-section {
  margin-bottom: 50px;

  .home-text {
    h1 {
      font-size: 24px;
    }
  }

  .join-section {
    width: 700px;
    margin: 30px auto;

    button {
      position: absolute;
      color: #1E1E1E;
      background-color: #FDCD3F;
      margin-top: -26px;
      height: 40px;
      margin-left: -266px;
      border-radius: 25px;
      width: 200px;
      font-size: 14px;
      font-weight: 600;
      border: none;
    }
  }
}

.why-us {
  margin-top: 100px;

  .why-us-header {
    h1 {
      font-size: 28px;
    }

    h3 {
      font-size: 12px;
      letter-spacing: 4px;
      margin-bottom: 12px;
    }
  }
}

.testimonials {
  .testimonials-header {
    margin: 45px 0;

    h1 {
      font-size: 28px;
    }

    h3 {
      font-size: 12px;
      letter-spacing: 4px;
      margin-bottom: 12px;
    }
  }

  .widget-quote-icon {
    margin-bottom: -90px;
    text-align: center;

    img {
      opacity: 0.2;
      width: 30px;
    }
  }

  .testimonial-widget {
    background-color: $white;
    padding: 60px 15px 25px;
    height: auto;
    margin: 40px 15px;
    border-radius: 8px;

    .list-content {
      padding: 15px;

      .profile-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 0 4px 4px 0 rgba(156, 153, 153, 0.15);
        border: solid 2.6px #e9e9e9;
        margin-right: 10px;

        img {
          border-radius: 50%;

          &:hover {
            opacity: 0.7;
          }
        }
      }

      .profile-info {
        p {
          font-size: 14px;
          color: $gray-text-color;
        }
      }
    }
  }
}



