.hero-banner {
  width: 100%;
  margin: 0 auto;
  background-image: url("/assets/hero-banner.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 40%;

  .hero-banner-wrapper {
    padding: 60px 1px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
      color: $white;
      font-size: 24px;
      max-width: 100%;
      line-height: 1.5em;
    }

    form {
      width: 100%;
    }

    .hero-search {
      width: 100%;

      .search-options {
        margin-top: 10px;

        input[type="radio"] {
          opacity: 0;
          position: fixed;
          width: 0;

          &:checked {
            + {
              label {
                background: $secondary-color;
                border-bottom: 5px solid $secondary-color;
                color: $black;
              }
            }
          }
        }

        label {
          display: inline-block;
          padding: 3px 15px;
          vertical-align: bottom;
          font-size: 15px;
          border-radius: 4px 4px 0 0;
          background: $white;
          border-bottom: 5px solid $white;

          &:hover {
            border-bottom: 5px solid $dark-color;
          }
        }
      }

      input[type="text"] {
        width: 100%;
        font-size: 17px;
        margin-bottom: 15px;
        border: solid 1px $gray-text-color;
        border-top: none;
        border-radius: 25px;
      }

      button {
        position: absolute;
        color: #000;
        height: 45px;
        background-color: #ecb22d;
        margin-top: 2px;
        margin-left: -104px;
        border-radius: 25px;
        width: 100px;
        font-size: 15px;
        border: none;
        padding: 5px 10px;
      }
    }
  }
}

.home-page {
  h2 {
    font-size: 18px;

    a {
      color: $secondary-color;
      font-size: 18px;
    }
  }

  .artists-near-you {
    margin-top: 40px;

    .home-section-header {
      margin-bottom: 22px;
    }
  }

  .studios-near-you {
    .home-section-header {
      margin-bottom: 22px;

      .chevron-navigation {
        display: none;
      }
    }
  }

  .scrolling-widget-list {
    overflow-x: auto;
    overflow-y: hidden;
    cursor: pointer;
    display: flex;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
