HOST: 'http://localhost:3001'
SECRET_KEY_BASE: 'bed78b8dd0090d97e997dbc3dfa19f192359541ec2f4d0c715393c612dbdf11e81c18367626b9fc3966973e63fc9755af5fc9dc1fa71b36d245dd5ad48c4d018'
RUN_ALL: '1'
SENDGRID_APIKEY: 'something'
AWS_ACCESS_KEY_ID: 'AKIASXKHHATRRJ44VOA5'
AWS_SECRET_ACCESS_KEY: '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'
AWS_REGION: 'us-west-1'
AWS_BUCKET: 'ta-qa' #ta-prod
DB_NAME: ''
DB_PASSWORD: ''
DB_HOST: ''
