default: &default
  adapter: mysql2
  host: localhost
  encoding: unicode
  pool: 5
  timeout: 5000
  username: 'root'
  password:

development:
  <<: *default
  database: 'trueartists_dev'

test:
  <<: *default
  database: 'trueartists_test'

production:
  <<: *default
  database: 'trueartists_prod'
