<div class="details-comments">
  <h3>Comments 38</h3>
  <div class="comment-lists">
    <div class="single-comment">
      <div class="d-flex">
        <div class="author-img">
          <a href="#">
            <img src="assets/profile.png" alt="">
          </a>
        </div>
        <div class="comment-content">
          <h4><a href="#">Lydia Westervelt</a></h4>
          <p>Ut egestas augue lectus, quis bibendum eros placerat vitae. Quisque non erat rhoncus, hendrerit magna ut, viverra metus. </p>
          <div class="meta">
            <span>2 weeks ago</span>
          </div>
        </div>
      </div>
    </div>
    <div class="single-comment">
      <div class="d-flex">
        <div class="author-img">
          <a href="#">
            <img src="assets/profile.png" alt="">
          </a>
        </div>
        <div class="comment-content">
          <h4><a href="#">Lydia Westervelt</a></h4>
          <p>Ut egestas augue lectus, quis bibendum eros placerat vitae. Quisque non erat rhoncus, hendrerit magna ut, viverra metus. </p>
          <div class="meta">
            <span>2 weeks ago</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="comment-forms">
    <form action="#">
      <div class="comment-form">
        <div class="comment-user">
          <img src="assets/profile-lg.png" alt="">
        </div>
        <input type="text" placeholder="Add a Comment">
      </div>
    </form>
  </div>
