<% placements.each do |placement| %>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="listing-widget shadow">
      <%= link_to placement_tattoos_path(placement.slug) do %>
        <div class="list-image">
          <% if placement.avatar.attached? %>
            <%= lazy_image_tag(asset_blob_url(placement.avatar)) %>
          <% end %>
        </div>
        <div class="list-content d-flex align-items-center">
          <div class="list-left flex-grow-1">
            <div class="d-flex align-items-center">
              <div class="profile-info">
                <h5><%= placement.name %></h5>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<!-- // -->
