<!-- More Like this -->
<div class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center sub-header">
        <h2>More Like This</h2>
      </div>
      <div class="col-md-12">
        <div class="image-gallery grid row">
          <% 32.times do %>
          <%= partial 'tattoo_image' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
