<div class="col-lg-3 col-md-6 grid-item">
  <%= link_to tattoo_path(tattoo), class: 'gallery-item' do %>
    <%= lazy_image_tag(asset_blob_url(tattoo.image), title: tattoo.seo_title, alt: tattoo.seo_title) %>
  <% end %>
</div>
