<% set_meta_tags title: 'Find Tattoo Ideas from Artists Near You',
              description: 'Browse from thousands of amazing tattoo photos and galleries from tattoo artists near you' %>

<!-- Tattoos Search -->
<div class="page-section gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sub-header">
          <h1>Find Tattoo Ideas</h1>
        </div>
        <div class="search-tattoos-form row">
          <div class="col-md-9">
            <%= render 'layouts/search' %>
          </div>
          <div class="col-md-3">
            <%= render 'frontend/tattoos/filter' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // -->

<!-- Tattoos -->
<div class="page-section gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="image-gallery grid row">
          <%= render @tattoos %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // -->
