<% set_meta_tags title: "#{@style.name} Tattoos & Ideas",
                 description: "Find amazing #{@style.name.name} tattoos and tattoo ideas from certified artists near you."
 %>
<!-- Tattoos Search -->
<div class="page-section gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sub-header">
          <h1><%= @style.name %> Tattoos</h1>
        </div>
        <div class="search-tattoos-form row">
          <div class="col-md-8"></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // -->

<!-- Tattoos -->
<div class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="image-gallery grid row">
          <%= render @tattoos %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // -->
