<div class="col-md-12">
  <div class="option-image-gallery grid row">
    <% attributes.each do |attribute| %>

      <%= image_pack_tag("media/images/g1.jpg") %>
      <p><%= attribute %></p>
    <% end %>
  </div>
</div>

