<div class="studios-near-you">
  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="home-section-header">
            <h2>
              Browse tattoos by style
            </h2>
          </div>
        </div>
        <div class="col-md-10 scrolling-widget-list grid-gap-30">
          <%= render 'frontend/styles/styles' %>
        </div>

        <div class="col-md-12 text-center">
          <div class="see-more-section">
            <%= link_to styles_path do %>
              <span class="btn btn-alternative">See More</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
