<div class='hero-banner'>
  <div class='hero-banner-wrapper'>
    <h1>Find a Certified Tattoo Studio or Artist Your Skin Won't Regret</h1>
    <%= form_tag global_search_redirector_index_path, method: :get do %>
      <div class="hero-search">
        <div class="search-options">
          <input type="radio" id="search-bar-artists" for="artists" name="search_path" for="artists" role="tab" aria-selected="true" value="artists" checked>
          <label for="search-bar-artists">Artists</label>

          <input type="radio" id="search-bar-studios" for="studios" name="search_path" for="studios" role="tab" aria-selected="true" value="studios">
          <label for="search-bar-studios">Studios</label>

          <input type="radio" id="search-bar-tattoos" for="tattoos" name="search_path" for="tattoos" role="tab" aria-selected="true" value="tattoos">
          <label for="search-bar-tattoos">Tattoos</label>
        </div>
        <%= text_field_tag "near", params[:near], class: '', placeholder: 'Search by city or zip code' %>
        <button type="submit">Search</button>
      </div>
    <% end %>
  </div>
</div>
