<% set_meta_tags title: "Contact TrueArtists?",
              description: "The largest Association of Certified Tattoo Artists in the world." %>

<div class="about-us">
  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="about-us-header text-center">
            <h1>Contact Us</h1>
            <p><big>Welcome to TrueArtists. We&#39;re here to help you and answer any questions you might have.&nbsp;</big></p>
          </div>
          <div class="about-us-content">
            <div class="intro-content row">
              <div class="col-lg-12">
                  <h4>Customer Support inquiries</h4>

                  <p>We respond to email messages in the order that they are received, and will respond to your email as quickly as possible.</p>

                  <p><strong>Email us:</strong> <a href="mailto:info@TrueArtists.com">info@trueartists.com</a></p>

                  <p>We look forward to hearing&nbsp;from you.&nbsp;</p>

                  <h4>Business Collaboration or Partnerships:</h4>

                  <p>For any business related inquiry email: <a href="mailto:info@TrueArtists.com?subject=About%20Us%3A%20Business%20Inquiry">info@trueartists.com</a><br />
                  &nbsp;</p>

                  <h4>Press Inquiries:</h4>

                  <p>For press&nbsp;and<strong> </strong>media inquiries email: <a href="mailto:Press Inquiries">info@TrueArtists.com</a></p>

                  <p></p>

                  <h4>TrueArtists Address</h4>

                  <p>TrueArtists Inc</p>

                  <p>2995 Woodside Road #400, Woodside, CA 94062</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
