<% set_meta_tags title: "Best Tattoo Studios & Artists Near You",
              description: "Find Certified Tattoo Studios & Artists in a city near. Book a tattoo appointment today." %>


<%= render 'frontend/landing_pages/hero_banner' %>

<div class="home-page">
  <%= render 'frontend/landing_pages/featured_artists' %>
  <%= render 'frontend/landing_pages/featured_studios' %>
  <%= render 'frontend/landing_pages/featured_styles' %>
</div>
