<title>Privacy Policy : TrueArtists</title>

<div class="about-us">
  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="about-us-header text-center">
            <h1>Privacy Policy</h1>
          </div>
          <div class="about-us-content">
            <div class="intro-content row">
              <div class="col-lg-12">
                <p><strong>Last Updated on May 24, 2021</strong></p>

                <p>At TrueArtists, We know you care about your privacy, too, so we provide settings that allow you to control how certain information is used on TrueArtists. This privacy policy explains
                  our privacy practices for TrueArtists.com and services provided by TrueArtists, Inc.</p>

                <h2><strong>Information Collected or Received </strong></h2>

                <p>TrueArtists will not sell or disclose your name, email address or other personal information to third parties without your explicit consent, except as specified in this policy.</p>

                <p>As a TrueArtists member, you are required to provide a valid email address at registration and choose a username or alias that may represent your identity on TrueArtists.</p>

                <p>Depending on which services you choose to use, TrueArtists may require additional information, such as a shop name, billing information (including billing address, phone number, credit card information), a mobile telephone number,
                  a physical mailing address, and/or payment information.</p>

                <p>You may optionally choose to provide your full name, birthday and gender to be publicly displayed in connection to your account and activity.</p>

                <p>Your username, TrueArtists ID or alias is publicly displayed and connected to your TrueArtists activity. Other people may see your date joined, feedback, location, ratings, profile information, items listed for sale, shop pages,
                  sold item listings, and comments in community spaces.</p>

                <p>TrueArtists automatically receives and records some information from your browser when you visit the site, such as your IP address, cookies and data about which pages you visit on the site through the use of log files provided by
                  our third-party tracking-utility partners. This information helps us analyze and understand how the site works for members and visitors.</p>

                <p>Some members or visitors may connect to or register a TrueArtists account using an external third-party application, such as Facebook, or an app developed using the TrueArtists API. TrueArtists may receive some data from those
                  connected third-party applications. Connecting your TrueArtists account to third-party applications or services is optional, and when you connect your account to an external app, you will be given the opportunity to grant
                  permission. You can revoke your permission under your TrueArtists Account settings.</p>

                <p>TrueArtists uses the information described in this policy to provide and improve our services and products, for billing, for identification and authentication purposes, to contact members or interested parties, and for general
                  research and aggregate reporting. &nbsp;</p>

                <p>TrueArtists requires all account owners to be at least 18 years of age (or have the permission and supervision of a responsible parent or legal guardian), therefore, this policy does not discuss use of our site or services by
                  minors.</p>

                <h2><strong>Choice &amp; Control</strong></h2>

                <p>We know members of our community value having control over their own information, and therefore TrueArtists gives you the choice of providing, editing or removing certain information, as well as choice over how we contact you.</p>

                <p>You may change or correct your TrueArtists account information (except your username) at any time. You may remove certain optional information you no longer wish to be publicly visible, such as your full name.</p>

                <p>For various reasons, TrueArtists may contact you about our services or your activity. Some of these messages are required, service-related messages for members. Other messages are not required, and you can control which optional
                  messages you choose to receive by changing your settings in your account. Learn more in the Messages from TrueArtists section of this policy.</p>

                <p>If you have optionally connected your account to an external, third-party application, such as Facebook, or an app developed using the TrueArtists API, you can remove permission for the app by changing your account settings.</p>

                <p>If you no longer wish to use TrueArtistss services or receive service-related messages, then you may close your account.</p>

                <p></p>

                <h2><strong>Findability</strong></h2>

                <p>TrueArtists offers a contact-importer feature to help you identify people you know on TrueArtists and invite others to join. You may connect directly with your email service provider to import your contacts to TrueArtists; we do
                  not retain the login information for your email service. You may be able to search for people you know by email address or phone number on the site or by connecting to your mobile phone&#39;s contact list via a mobile application.
                  Finding your friends on TrueArtists helps you connect with them in community features like TrueArtists Circles. When you add contacts to your TrueArtists Circle, they will automatically receive an email notification (unless a
                  member has opted-out of receiving this type of email). If you do not want your contacts to be able to find you on TrueArtists through your email address or phone number, you may opt-out through<a
                    href="https://account.trueartists.com"> account settings</a>. If you do not wish to be located on TrueArtists via your full name, you may remove your name from your public account information. It is not possible to opt-out of
                  being found via your username.</p>

                <p></p>

                <h2><strong>Messages from TrueArtists</strong></h2>

                <p>On occasion, TrueArtists will send you messages. The default, required form of communication is email. If you sign up for SMS notifications, TrueArtists may also contact you by text message when applicable. In some situations,
                  TrueArtists may send you physical mail;</p>

                <p>Some messages from TrueArtists are service-related and required for members. Examples of service-related messages include, but are not limited to: a welcome/confirmation email when you register your account, notification of an
                  order, or correspondence with TrueArtistss support team. These messages are not promotional in nature. You may not opt-out of receiving service-related messages from TrueArtists, unless you close your account.</p>

                <p>As a member, TrueArtists may also send you messages related to certain features on the site or your activity. TrueArtists may also send you news or updates about changes to our site or services. By default, members will receive
                  these messages via email, but you may choose to opt-out of getting certain emails under your account settings.</p>

                <p>TrueArtists offers optional email newsletters. You must opt-in or subscribe to begin receiving newsletters, and subscription is available to both members and non-members. Members may subscribe or unsubscribe from optional
                  newsletters under your account settings or by following the instructions contained in the newsletter emails. Non-members may subscribe by providing an email address, which will only be used by TrueArtists for these newsletters.
                  Non-members may unsubscribe from newsletters by following the instructions contained in the newsletter emails.</p>

                <p>Members may share with their friends links to TrueArtists using a convenient email feature on certain pages. If you choose to use this share by email feature, TrueArtists will ask for the information needed to send the message,
                  such as your friend&#39;s email address. TrueArtists will then automatically send your friend an email, inviting your friend to visit the site. We won&rsquo;t use your friend&rsquo;s email address for any other purpose. Your friend
                  may opt-out of receiving future similar sharing emails from TrueArtists by following the instructions in the email.</p>

                <p>A contact-importer feature is available to help you locate and connect with your friends and contacts who may be members of TrueArtists. If someone in your contact list is not already a member, you may invite them to join
                  TrueArtists. You may preview the invitation before TrueArtists generates and sends it. Recipients of invitations may opt out of receiving future invitations by following instructions in the invitation message.</p>

                <p><strong>Community</strong></p>

                <p>TrueArtists is both a marketplace and a community. We offer several features that allow members to connect and communicate in public or semi-public spaces, such as Forums, Teams, Circles and multimedia chat events. Please use
                  common sense and good judgement when posting in these community spaces or sharing your personal information with others on TrueArtists. Be aware that any personal information you submit there can be read, collected, or used by
                  others, or could be used to send you unsolicited messages. TrueArtists generally does not remove content from community spaces, and your posts may remain public after your account is closed. You are responsible for the personal
                  information you choose to post in community spaces on TrueArtists.</p>

                <p>Another TrueArtists member may add you to their TrueArtists Circle to receive updates about your public site activity (like public Treasury lists and public Favorites). You may choose to make certain activities private in your
                  account settings. After a member has added you to their Circle, you have the option to block that member if you do not wish to share your updates with that specific person.</p>

                <h2>Use of Information, Sharing &amp; Disclosure</h2>

                <p>When you access or use the Services, we collect, use, share, and otherwise process your personal information as described in this policy. We rely on a number of legal bases to use your information in these ways. These legal bases
                  include where:</p>

                <ul>
                  <li>
                    <p>necessary to perform the contractual obligations in our Terms of Use and in order to provide the Services to you;</p>
                  </li>
                  <li>
                    <p>you have consented to the processing, which you can revoke at any time;</p>
                  </li>
                  <li>
                    <p>necessary to comply with a legal obligation, a court order, or to exercise or defend legal claims;</p>
                  </li>
                  <li>
                    <p>necessary for the purposes of our or a third party&rsquo;s legitimate interests, such as those of visitors, members, or partners;</p>
                  </li>
                  <li>
                    <p>you have expressly made the information public;</p>
                  </li>
                  <li>
                    <p>necessary in the public interest; and</p>
                  </li>
                  <li>
                    <p>occasionally necessary to protect your vital interests or those of others.</p>
                  </li>
                </ul>

                <p>Note that we principally rely on consent (i) to send marketing messages, (ii) for third-party data sharing related to advertising, and, to the extent applicable, (iii) for the use of location data for advertising purposes.</p>

                <p>Where we process your information on the basis of legitimate interests, we do so as follows:</p>

                <p><strong>Providing and improving our Services:</strong> We may use your information to improve and customize our Services, including sharing of your information for such purposes, and we do so as it is necessary to pursue our
                  legitimate interests of improving our Services for our users. This is also necessary to enable us to pursue our legitimate interests in understanding how our Services are being used and to explore and unlock ways to develop and grow
                  our business. It is also necessary to allow us to pursue our legitimate interests in improving our Services, efficiency, interest in Services for users and obtaining insights into usage patterns of our Services.</p>

                <p><strong>Keeping our Services safe and secure:</strong> We may also use your information for safety and security purposes, including sharing of your information for such purposes, and we do so because it is necessary to pursue our
                  legitimate interests in ensuring the security of our Services, including enhancing protection of our community against spam, harassment, intellectual property infringement, crime, and security risks of all kind.</p>

                <p>We respect your privacy. TrueArtists will not disclose your name, email address or other personal information to third parties without your consent, except as specified in this policy.</p>

                <p>We use your information to provide and improve the Services and our products, for billing and payments, for identification and authentication, for targeted online and offline marketing including through tools like Facebook Custom
                  Audience and Google Customer Match, to contact members or interested parties, and for general research and aggregate reporting. We may learn the sorts of products that you&rsquo;re interested in from your browsing and purchase
                  behavior on (and off) the Site or Apps and suggest potential purchases as a result. As a core part of our Services, we have a legitimate interest in customizing your on-site experience to help you discover relevant items and
                  recommended purchases. Similarly, we or our sellers may advertise our Services or our sellers&rsquo; products through a variety of different mediums and rely on your consent to do so off-site. As part of this, we may work with
                  advertising partners such as Facebook or Google.</p>

                <p><strong>Buying and Selling:</strong> As part of the buying and selling process, TrueArtists will facilitate the sharing of information between the two members involved in the transaction, such as the other TrueArtists or
                  TrueArtists Studio member&#39;s shipping address and payment information. By making a sale or a purchase on TrueArtists or TrueArtists Studio, you are directing us to share your information in this way. Since this is an important
                  part of the Services we provide, we need to do this in order to perform our obligations under our Terms of Use. We expect you to respect the privacy of the member whose information you have received. As described in
                  TrueArtists&#39;s <a href="https://www.trueartists.com/terms">Terms of Service</a>, you have a limited license to use that information only for TrueArtists or TrueArtists Studio-related communications or for
                  TrueArtists or TrueArtists Studio-facilitated transactions. TrueArtists has not granted a license to you to use the information for unsolicited commercial messages or unauthorized transactions. Without express consent from that
                  person, you must not add any member to your email or physical mailing list or otherwise use or store any member&rsquo;s personal information.</p>

                <p><strong>Legal and Safety: </strong>TrueArtists may also retain, preserve, or release your personal information to a third party in the following limited circumstances: in response to lawful requests by public authorities,
                  including to meet legitimate national security or law enforcement requirements; to protect, establish, or exercise our legal rights or defend against legal claims, including to collect a debt; to comply with a subpoena, court order,
                  legal process, or other legal requirement; or when we believe in good faith that such disclosure is reasonably necessary to comply with the law, prevent imminent physical harm or financial loss, or investigate, prevent, or take
                  action regarding illegal activities, suspected fraud, threats to our property, or violations of TrueArtists&#39;s <a href="https://www.trueartists.com/pages/18-terms-of-service">Terms of Service</a>. In these cases, our use of
                  your information may be necessary for the purposes of our or a third party&rsquo;s legitimate interest in keeping our Services secure, preventing harm or crime, enforcing or defending legal rights, or preventing damage. Such use may
                  also be necessary to comply with a legal obligation, a court order, or to exercise or defend legal claims. It may also be necessary in the public interest (such as to prevent crime) or to protect vital interests (in rare cases where
                  we may need to share information to prevent loss of life or personal injury).</p>

                <p>If TrueArtists receives a lawful, verified request for a member&rsquo;s records or information in one of the limited circumstances described in the previous paragraph, TrueArtists may disclose personal information, which may
                  include, but may not be limited to, a member&rsquo;s name, address, phone number, email address, and company name.</p>

                <p><strong>Affiliated Businesses:</strong> TrueArtists is affiliated with a variety of businesses and works closely with them for a variety of purposes, including assisting us to perform and improve the Services. These businesses may
                  sell items or services to you through the Services or, with your consent, offer promotions (including email promotions) to you. TrueArtists may also provide services or sell products jointly with affiliated businesses, including
                  providing information to such partners to allow them to more effectively market to you. When an affiliated business assists in facilitating your transaction, we may need to share information related to the transaction with that
                  affiliated business in order to facilitate your transaction, and this forms part of the Services we provide in accordance with our Terms of Use. We rely on consent (which can be withdrawn at any time) to send marketing messages and
                  for third-party sharing relating to advertising.</p>

                <p><strong>Aggregated Information:</strong> TrueArtists may share demographic information with business partners, but it will be aggregated and de-personalized so that personal information is not revealed.</p>

                <p><strong>Service Providers:</strong> TrueArtists also needs to engage third-party companies and individuals (such as payment processors, research companies, and analytics and security providers) to help us operate, provide, and
                  market the Services. These third parties have only limited access to your information, may use your information only to perform these tasks on our behalf, and are obligated to TrueArtists not to disclose or use your information for
                  other purposes. Our engagement of service providers is often necessary for us to provide the Services to you, particularly where such companies play important roles like processing payments and shipments and helping us keep our
                  Service operating and secure. In some other cases, these service providers aren&rsquo;t strictly necessary for us to provide the Services, but help us make it better, like by helping us conduct research into how we could better
                  serve our users. In these latter cases, we have a legitimate interest in working with service providers to make our Services better.</p>

                <p><strong>Business Reorganization:</strong> In some cases, TrueArtists may choose to buy or sell assets. Such transactions may be necessary and in our legitimate interests, particularly our interest in making decisions that enable
                  our business to develop over the long term. In these types of transactions (such as a sale, merger, liquidation, receivership, or transfer of all or substantially all of TrueArtists&rsquo;s assets), member information is typically
                  one of the business assets that is transferred. If TrueArtists intends to transfer information about you, TrueArtists will notify you by email or by putting a prominent notice on the Site and the App, and you will be afforded an
                  opportunity to opt out before information about you becomes subject to a different privacy policy.</p>

                <p><strong>Third Parties:</strong> Third-party plug-ins also may collect information about your use of the Site. For example, when you load a page on TrueArtists that has a social plug-in from a third-party site or service, such as a
                  &ldquo;Like&rdquo; or &ldquo;Send&rdquo; button, you are also loading content from that third-party site. That site may request cookies directly from your browser. These interactions are subject to the privacy policy of the
                  third-party site. In addition, certain cookies and other similar technologies on the Site are used by third parties for targeted online marketing and other purposes. These technologies allow a partner to recognize your computer or
                  mobile device each time you use the Services. Please be aware that when you use third-party sites or services, their own terms and privacy policies will govern your use of those sites or services. TrueArtists chooses and manages
                  these third-party technologies placed on its Sites and Apps. However, these are third-party technologies, and they are subject to that third party&#39;s privacy policy. We rely on your consent to drop and read non-technically
                  necessary cookies.</p>

                <p>We can speak only for ourselves; this policy does not apply to the practices of third parties that TrueArtists does not own or control or individuals that TrueArtists does not employ or manage. If you provide your information to
                  others, different practices may apply to the use or disclosure of the information that you provide to them. TrueArtists does not control the privacy policies of third parties, including other members who sell using the Services or
                  API users. TrueArtists is not responsible for the privacy or security practices of these sellers, API users, or other websites on the Internet, even those linked to or from the Services. We encourage you to read the privacy
                  policies and ask questions of third parties before you disclose your personal information to them. For the purposes of European law, these sellers and API users are independent controllers of data, which means that they are
                  responsible for providing and complying with their own policies relating to any personal information they obtain in connection with the Services.</p>

                <p></p>

                <h2><strong>Cookies &amp; Tracking Technologies</strong></h2>

                <p>A cookie is a small data file sent from a website to your browser that is stored on your computer&#39;s hard drive. TrueArtists uses our own cookies for a number of purposes, including to access your information when you sign in;
                  keep track of preferences you specify; display the most appropriate content based on your interests and activity on TrueArtists; estimate and report TrueArtists&#39;s total audience size and traffic; conduct research to improve
                  our content and services.</p>

                <p>TrueArtists may partner with third-party services who may set cookies to provide features such as analytics. These cookies allow a partner to recognize your computer each time you visit TrueArtists, but do not allow access to
                  personally identifiable information from TrueArtists. TrueArtists does not have access or control over these third-party cookies, and they are not covered by our privacy statement. You can configure your browser&#39;s settings to
                  reflect your preference to accept or reject cookies. If you reject all cookies, you will not be able to take full advantage of TrueArtists&#39;s services.</p>

                <h2><strong>Security</strong></h2>

                <p>The security of your personal information is important to us. Your TrueArtists account information is protected by a password. It is important that you protect against unauthorized access of your account and information by
                  choosing your password carefully, and keeping your password and computer secure by signing out after using our services. TrueArtists encrypts sensitive information (such as credit card number) using secure socket layer technology
                  (SSL). TrueArtists follows generally accepted industry standards to protect the personal information submitted to us, both during transmission and once TrueArtists receives it. No method of transmission over the Internet, or
                  method of electronic storage, is 100% secure. Therefore, while we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security.</p>

                <h2><strong>Retention</strong></h2>

                <p>TrueArtists will retain your information only for as long as is necessary for the purposes set out in this policy, for as long as your account is active as described in this policy, or as needed to provide the Services to you. If
                  you no longer want TrueArtists to use your information to provide the Services to you, you may close your account. TrueArtists will retain and use your information to the extent necessary to comply with our legal obligations (for
                  example, if we are required to retain your information to comply with applicable tax/revenue laws), resolve disputes, enforce our agreements, and as otherwise described in this policy. In addition, TrueArtists sellers may also be
                  required to retain and use your information in order to comply with their legal obligations. Please note that closing your account may not free up your email address, username, or shop name (if any) for reuse on a new account. We
                  also retain log files for internal analysis purposes. These log files are generally retained for a brief period of time, except in cases where they are used for site safety and security, to improve site functionality, or we are
                  legally obligated to retain them for longer time periods.</p>

                <h2><strong>Your Rights</strong></h2>

                <p>You may benefit from a number of rights in relation to your information that we process. Some rights apply only in certain limited cases, depending on your location. If you would like to manage, change, limit, or delete your
                  personal information, you can do so via your TrueArtists account settings or by contacting us. Upon request, TrueArtists will provide you with information about whether we hold any of your personal information. &nbsp;By visiting
                  your account settings, you can access, correct, change, and delete certain personal information associated with your account. In certain cases where we process your information, you may also have a right to restrict or limit the
                  ways in which we use your personal information. In certain circumstances, you also have the right to request the deletion of your personal information, and to obtain a copy of your personal information in an easily accessible
                  format. Please ensure you&#39;ve read the options you have under the &quot;Choice &amp; Control&quot; section above. If you need further assistance, you can contact TrueArtists through one of the channels listed below under
                  &ldquo;Contact.&rdquo; We will respond to your request within a reasonable timeframe.</p>

                <p>If we process your information based on our legitimate interests as explained above, or in the public interest, you can object to this processing in certain circumstances. In such cases, we will cease processing your information
                  unless we have compelling legitimate grounds to continue processing or where it is needed for legal reasons. Where we use your data for direct marketing purposes, you can always object using the unsubscribe link in such
                  communications or changing your account settings.</p>

                <h2><strong>Your Responsibilities</strong></h2>

                <p>If you sell using our Services or use TrueArtists&rsquo;s API, you may receive and determine what to do with certain personal information, such as when communicating with users and entering into transactions with customers. This
                  means you process personal information (for example, buyer name, email address, and shipping address) and, to the extent you do so, under EU law, you are an independent controller of data relating to other users that you may have
                  obtained through the Services.</p>

                <p>You are responsible for protecting user personal information you receive or process and complying with all relevant legal requirements when you use the Services. This includes applicable data protection and privacy laws that govern
                  the ways in which you can use a user&rsquo;s information. Such laws may require that you post, and comply with, your own privacy policy, which must be accessible to TrueArtists users you interact with and compatible with this
                  policy and TrueArtists&rsquo;s Terms of Use.</p>

                <p>As a data controller, to the extent that you process user personal information outside of the Services, you may be required under applicable data protection and privacy laws to honor requests for data access, portability,
                  correction, deletion, and objections to processing. Also, if you disclose personal information without the buyer&rsquo;s proper consent, you are responsible for that unauthorized disclosure. This includes, for example, disclosures
                  you make or unintentional data breaches. For example, you may receive a buyer&rsquo;s email address or other information as a result of entering into a transaction with that buyer. This information may only be used for
                  TrueArtists-related communications or for TrueArtists-facilitated transactions. You may not use this information for unsolicited commercial messages or unauthorized transactions. Without the buyer&rsquo;s consent, and subject to
                  other applicable TrueArtists policies and laws, you may not add any TrueArtists member to your email or physical mailing list, use that buyer&rsquo;s identity for marketing, or obtain or retain any payment information. Please bear
                  in mind that you&#39;re responsible for knowing the standard of consent required in any given instance.</p>

                <p>If TrueArtists and you are found to be joint data controllers of personal information, and if TrueArtists is sued, fined, or otherwise incurs expenses because of something that you did as a joint data controller of buyer personal
                  information, you agree to indemnify TrueArtists for the expenses it occurs in connection with your processing of buyer personal information.</p>

                <h2><strong>Consent to Withdraw</strong></h2>

                <p>Where you have provided your consent, you have the right to withdraw your consent to our processing of your information and your use of the Services. For example, you can withdraw your consent to email marketing by using the
                  unsubscribe link in such communications or by changing your account settings. You can choose to withdraw your consent to our processing of your information and your use of the Services at any time by closing your account through
                  your account settings and then emailing legal@trueartists.com to request that your personal information is deleted, except for information that we are required to retain. This deletion is permanent and your account cannot be
                  reinstated.</p>

                <h2><strong>Privacy Policy Changes</strong></h2>

                <p>We may amend or update this policy from time to time. If we believe that the changes are material, we&rsquo;ll let you know by doing one (or more) of the following: (i) posting the changes on or through the Services, (ii) sending
                  you an email or message about the changes, or (iii) posting an update in the version notes on the Apps&rsquo; platform. We encourage you to check back regularly and review any updates.</p>

                <p>If you have any questions:</p>

                <p>Send an email to TrueArtists Data Protection Officer, James W, at info@trueartists.com</p>

                <p>Write to us at one of the following addresses:</p>

                <p>TrueArtists Inc.</p>

                <p>2995 Woodside Road #400<br />
                  Woodside</p>

                <p>CA, 94062</p>

                <p>Email: <a href="mailto:info@trueartists.com">info@trueartists.com</a></p>

                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
