<title>Terms & Conditions : TrueArtists</title>

<div class="about-us">
  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="about-us-header text-center">
            <h1>Terms & Conditions</h1>
          </div>
          <div class="about-us-content">
            <div class="intro-content row">
              <div class="col-lg-12">
                <span>Welcome
                to TrueArtists, a service of Charing Cross Corporation. By using this
                website, you accept the terms of this Visitor Agreement. This is a
                legally binding agreement between you and TrueArtists and Charing Cross
                Corporation; please read it carefully.</span><br /><span
                  style="">General
                  Provisions</span><br /><span
                  style="">TrueArtists respects your
                  privacy. Please take a moment to review our</span><a href="http://www.trueartists.com/static_pages/2-privacy"><span
                    style=""> </span><span
                    style="font-size:16px;font-family:'Times New Roman';color:#1155cc;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;">privacy
                    statement</span></a><span
                  style="">.</span><br /><span
                  style="">We
                  invite you to bring to our attention any material on our site that you
                  believe to be inaccurate. Please forward a copy of the material to our</span><a href="mailto:info@trueartists.com"><span
                    style=""> </span><span
                    style="font-size:16px;font-family:'Times New Roman';color:#1155cc;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;">Customer Service
                    Manager</span></a><span style="">, along
                  with an explanation of your objection.</span><br /><span
                  style="">If
                  you are an owner of intellectual property who believes your
                  intellectual property has been improperly posted or distributed via this
                  website, please notify us by sending email to </span><a href="mailto:info@trueartists.com"><span
                    style="font-size:16px;font-family:'Times New Roman';color:#1155cc;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;"><strong>info@trueartists.com</strong></span></a><strong><span
                    style="font-size:16px;font-family:'Times New Roman';color:#ff0000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;"></span><span
                    style=""> or by sending a notice by U.S.
                    Mail to: TrueArtists Copyright, 101 First Street #586, Los Altos CA 94022</span></strong><br /><span
                  style="">The
                  Web is an evolving medium. TrueArtists may change the terms of this
                  agreement from time to time. By continuing to use this website following
                  our posting of such changes, you agree to be bound by this agreement,
                  as modified. TrueArtists may change, restrict access to, suspend, or
                  discontinue this website, or any portion of this website, at any time.</span><br /><span
                  style="">The
                  material that appears on TrueArtists is for informational purposes
                  only. Despite our efforts to provide useful and accurate information,
                  errors may appear from time to time. Before purchasing any goods or
                  services you've read about on TrueArtists, you should confirm with the
                  vendor any information (including the price) that is important to your
                  purchasing decision. TrueArtists is not responsible for, and does not
                  guarantee the performance of any such goods or services.</span><br /><span
                  style="">Buying and
                  Selling</span><br /><span
                  style="">TrueArtists
                  is an artists and studio listing and information service that brings
                  together buyers and sellers. Information about a particular service is
                  supplied by the studio, not by TrueArtists. The price and other terms of
                  any sale remain subject to direct negotiation between the buyer and the
                  studio. Though we hope that all who come to TrueArtists will act
                  honorably and treat each other fairly, we can't verify the information
                  studios supply or guarantee the services they offer. Please read our
                  fraud awareness tips before you buy or sell a product or service on
                  TrueArtists. There is no substitute for healthy skepticism and your own
                  good judgment.</span><br /><span
                  style="">In
                  connection with our efforts to combat Internet fraud, profiles and some
                  profile changes may be screened before being posted publicly. This
                  process may delay display of your profile. We may also screen some email
                  messages sent to studios about services listed on TrueArtists. If it
                  appears that your email message has not reached the studio of the
                  service you're inquiring about, you might try inquiring by telephone if
                  the studio has provided a telephone number.</span><br /><span
                  style="">The
                  information must accurately identify the studio and the method of
                  contact must permit buyers to communicate directly with the studio.</span><br /><span
                  style="">Responsibility
                  for the information contained in each listing lies with each studio.
                  You alone are responsible for material you post and for the content of
                  all email messages you transmit through TrueArtists. Nothing will
                  undermine a user's confidence in your studio faster than inaccurate
                  statements or misleading representations. And since any erosion of user
                  confidence in you is likely to be accompanied by erosion of user
                  confidence in us, we care deeply about making sure that the information
                  you supply is accurate and that, in all respects, you treat other
                  TrueArtists users fairly and honorably.</span><br /><span
                  style="">Links to Other
                  Sites</span><br /><span style="">For
                  your convenience, we make available a variety of links to other
                  websites that we don't operate where you can obtain related products and
                  services. Although we encourage you to consult such websites, we cannot
                  guarantee the prices, terms, quality, reliability or performance of the
                  products or services provided by these vendors. TrueArtists is not
                  responsible for the products or services these vendors provide. You
                  release TrueArtists and its affiliates from any damages that you may
                  incur, and agree not to assert any claims against them, arising from
                  your purchase or use of third-party supplied products and services.</span><br /><span
                  style="">Ownership and
                  Permissions</span><br /><span style="">The
                  materials on this site are the property of TrueArtists or its
                  licensors, and are protected by trademark and U.S. copyright laws, other
                  copyright laws, and international conventions. Except as explicitly
                  provided in this agreement, you may not distribute, transmit, display,
                  reproduce, modify, create derivative works from, or otherwise exploit
                  any of the materials on this site. You may display and occasionally
                  print a single copy of any page on the site for your personal,
                  non-commercial use, but you may not otherwise reproduce any material
                  appearing on this site without the prior written consent of the owner.
                  You may not store any significant portion of, nor distribute copies of,
                  materials found on this site, in any form (including electronic form),
                  without prior written permission from the owner. Requests for permission
                  to reproduce or distribute materials found on TrueArtists should be
                  sent to our Customer Service Manager, TrueArtists, 101 First Street
                  #586, Los Altos CA 94022 or to</span><a href="http://www.autotrader.com/help/email.jsp?contact_email=atc_info"><span
                    style=""> </span></a><a
                  href="mailto:info@trueartists.com"><span
                    style="font-size:16px;font-family:'Times New Roman';color:#1155cc;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;">Customer
                    Service</span></a><span
                  style="">.</span><br /><span
                  style="">You
                  are free to establish a hypertext link to this site so long as the link
                  does not state or imply any endorsement or sponsorship of you, your
                  company, or your site by TrueArtists or any of its affiliates. However,
                  without the prior written permission of TrueArtists, you may not frame
                  any of the content of TrueArtists, nor incorporate into another website
                  or other service any intellectual property of TrueArtists or its
                  licensors. Requests for permission to frame our content may be sent our
                  Customer Service Manager, either by</span><a href="http://www.autotrader.com/help/email.jsp?contact_email=atc_info"><span
                    style=""> </span></a><a
                  href="mailto:info@trueartists.com"><span
                    style="font-size:16px;font-family:'Times New Roman';color:#1155cc;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;">email</span></a><span
                  style=""> or at the address
                  above.</span><br /><span
                  style="">TrueArtists™
                  and the TrueArtists logo, which are trademarks of Charing Cross
                  Corporation, are used by TrueArtists under license from Charing Cross
                  Corporation. The names of other products and services referred to on the
                  site may be the trademarks of their respective owners. You may not use
                  any trademark or service mark appearing on TrueArtists without the prior
                  written consent of the owner of the mark. All contents of this site
                  are: Copyright 2012 TrueArtists, Inc. and/or its licensors. All rights
                  reserved.</span><br /><span style="">You
                  may post listings, ratings, reviews, comments and other content, so
                  long as the content is not false, misleading, illegal, obscene,
                  threatening, defamatory, invasive of privacy rights, infringing of
                  copyright, trademark or other intellectual property rights, or otherwise
                  injurious to TrueArtists or third parties. By submitting content to
                  TrueArtists you agree to abide by the terms of this Visitor Agreement
                  and any rules or policies established by TrueArtists for the area of our
                  site in which you post your content.</span><br /><span
                  style="">By
                  submitting listings, ratings, reviews, comments or other content to
                  TrueArtists, you represent and warrant that your submission does not
                  contain any computer viruses, worms, or other damaging computer files or
                  code and that you own or otherwise control all of the rights (including
                  any copyright, trademark, trade secret, patent or other intellectual
                  property right) to the content that you submit. You further represent
                  that the content is accurate, that the use of the content you submit
                  does not violate this Visitor Agreement, any applicable laws or
                  regulations or the intellectual property rights of any third parties and
                  will not cause injury to any person or entity, and that you will
                  indemnify and hold harmless TrueArtists, its affiliates and service
                  providers (and all of their respective officers, directors, employees
                  and representatives) from all claims, demands, damages and costs
                  (including attorneys' fees) resulting from content you submit. If you
                  submit a rating and/or review, you represent that your submission is
                  based on your own honest opinion, finding and/or experience, that you
                  are not employed by the manufacturer of the vehicle you are rating or
                  writing about and that you have not received and will not receive any
                  compensation for your submission.</span><br /><span
                  style="">By
                  submitting any content to TrueArtists, you are permanently granting
                  TrueArtists and its affiliates, successors and licensees all rights to
                  the material, including a nonexclusive, royalty-free, perpetual,
                  irrevocable, and fully sub-licensable right to use, reproduce, modify,
                  adapt, publish, translate, create derivative works from, sell,
                  distribute, and display such content throughout the world in any media
                  without compensation to you, and to maintain the material in an archive.
                  Among other things, TrueArtists uses listings data to derive other
                  useful information for display, sale and distribution. You further grant
                  to TrueArtists and its affiliates and successors the perpetual right to
                  use your name, image and likeness in connection with such content, if
                  they choose, without compensation to you.</span><br /><span
                  style="">Although
                  TrueArtists cannot monitor all the listings and content posted to our
                  website, we reserve the right (but assume no obligation) to delete,
                  move, condense or edit any ads, ratings, reviews, content or other
                  postings that come to our attention that we consider unacceptable or
                  inappropriate, whether for legal or other reasons. We retain the right
                  to deny access to anyone who we believe has violated these terms or any
                  other term of this agreement. We will not, in the ordinary course of
                  business, review the content of private electronic messages that are not
                  addressed to TrueArtists. However, we may occasionally release
                  information concerning such communications when release is appropriate
                  to comply with law (including disclosure in response to a request from a
                  law enforcement agency), to enforce our Visitor Agreement, or to
                  protect the rights, property or safety of visitors to our site, our
                  advertisers, the public or TrueArtists. Notwithstanding the foregoing,
                  TrueArtists takes no responsibility and assumes no liability for any
                  content posted to our website by you or other third parties.</span><br /><span
                  style="">Disclaimer of Warranties,
                  Limitation of Liability, and Indemnification</span><br /><span
                  style="">IF
                  YOU RELY ON THIS WEBSITE OR ANY INFORMATION, PRODUCT OR SERVICE
                  AVAILABLE THROUGH THIS WEBSITE, YOU DO SO AT YOUR OWN RISK. YOU
                  UNDERSTAND THAT THERE MAY BE DELAYS, OMISSIONS, INTERRUPTIONS,
                  INACCURACIES, AND/OR OTHER PROBLEMS WITH THE INFORMATION, PRODUCTS, AND
                  SERVICES PUBLISHED ON OR PROMOTED OVER THIS SITE. THIS WEBSITE IS
                  PROVIDED TO YOU "AS IS." TRUEARTISTS AND ITS AFFILIATES, AGENTS AND
                  LICENSORS, CANNOT AND DO NOT WARRANT THE ACCURACY, COMPLETENESS,
                  CURRENTNESS, NONINFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A
                  PARTICULAR PURPOSE OF THE INFORMATION AVAILABLE THROUGH THIS WEBSITE (OR
                  ANY INFORMATION, GOODS OR SERVICES THAT ARE REFERRED TO, ADVERTISED OR
                  PROMOTED ON, OR SOLD THROUGH THIS WEBSITE). NOR DO WE OR THEY GUARANTEE
                  THAT THE WEBSITE WILL BE ERROR FREE, OR CONTINUOUSLY AVAILABLE, OR THAT
                  THE WEBSITE WILL BE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
                  TRUEARTISTS AND ITS AFFILIATES, AGENTS OR LICENSORS WILL NOT BE LIABLE
                  FOR ANY CLAIMS, ACTIONS OR JUDGMENTS ARISING OUT OF OR RELATED TO ANY
                  CONTENT POSTED TO OUR WEBSITE BY YOU OR ANY OTHER THIRD PARTY.</span><br /><span
                  style="">UNDER
                  NO CIRCUMSTANCES WILL TRUEARTISTS OR ITS AFFILIATES, AGENTS OR
                  LICENSORS BE LIABLE TO YOU OR ANYONE ELSE FOR ANY DAMAGES OTHER THAN
                  DIRECT DAMAGES, ARISING OUT OF YOUR USE OF THIS WEBSITE OR ANY PRODUCT
                  OR SERVICE LINKED TO FROM OR ADVERTISED OR PROMOTED ON THIS WEBSITE,
                  INCLUDING, WITHOUT LIMITATION, CONSEQUENTIAL, SPECIAL, INCIDENTAL,
                  INDIRECT, PUNITIVE, EXEMPLARY, OR OTHER DAMAGES OF ANY KIND (INCLUDING
                  LOST REVENUES OR PROFITS, LOSS OF BUSINESS OR LOSS OF DATA), EVEN IF WE
                  ARE ADVISED BEFOREHAND OF THE POSSIBILITY OF SUCH DAMAGES. YOU AGREE
                  THAT THE LIABILITY OF TRUEARTISTS AND ITS AFFILIATES, AGENTS AND
                  LICENSORS, IF ANY, ARISING OUT OF ANY KIND OF LEGAL CLAIM ARISING OUT OF
                  OR OTHERWISE RELATED TO THIS WEBSITE WILL NOT EXCEED THE AMOUNT YOU
                  PAID, IF ANY, FOR THE USE OF THE WEBSITE OUT OF WHICH SUCH LIABILITY
                  ALLEGEDLY ARISES. BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE
                  EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL
                  DAMAGES, SOME OF THESE LIMITATIONS MAY NOT APPLY TO YOU. YOU AGREE TO
                  INDEMNIFY AND HOLD HARMLESS TRUEARTISTS, ITS EMPLOYEES, OWNERS,
                  REPRESENTATIVES, AND LICENSEES AGAINST ANY AND ALL CLAIMS, OF WHATEVER
                  NATURE, THAT ARISE OUT OF ANY LISTING YOU PLACE.</span><br /><span
                  style="">Registration</span><br /><span
                  style="">To
                  obtain access to certain TrueArtists services, you will be given an
                  opportunity to register with TrueArtists. As part of the registration
                  process, you will select a user name and a password. You agree that the
                  information you supply during that registration process will be accurate
                  and complete and that you will not register under the name of another
                  person. We reserve the right to disallow use of user name that we deem
                  offensive or inappropriate. You will be responsible for preserving the
                  confidentiality of your password and for all actions of persons
                  accessing TrueArtists through any username/password assigned to you. You
                  will notify TrueArtists's</span><a href="http://www.autotrader.com/help/email.jsp?contact_email=atc_info"><span
                    style=""> </span></a><a
                  href="mailto:info@trueartists.com"><span
                    style="font-size:16px;font-family:'Times New Roman';color:#1155cc;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;">Customer Service
                    Manager</span></a><span style=""> of any
                  known or suspected unauthorized use of your account.</span><br /><span
                  style="">Miscellaneous</span><br /><span
                  style="">We
                  want potential buyers visiting TrueArtists to feel free to share their
                  email addresses with those listing services and products for sale on our
                  site. By listing a service or product for sale on this site, you agree
                  to use the email addresses of those responding to your listing only for
                  purposes of communicating with them about the potential sale of that
                  service or product. By accessing this website, you agree not to use
                  information concerning other users of TrueArtists, or the services or
                  products they've listed or searched for on this website (including
                  listing information, user names, email addresses, telephone numbers,
                  and/or other information), for any purpose other than to explore the
                  potential purchase or sale of a listed services and products.</span><br /><span
                  style="">By
                  accessing this website, you agree that you not will not use any
                  automated mechanism (such web robots, crawlers, or spiders) to access,
                  query or otherwise collect information or scrape data from TrueArtists
                  or any other service or website owned or operated by Charing Cross
                  Corporation., except in strict conformance with the Robots Exclusion
                  Protocol. You agree not to access or attempt to access any service or
                  website owned or operated by Charing Cross Corporation under the name
                  of, or using the password of, any other person or entity.</span><br /><span
                  style="">This
                  Visitor Agreement has been made in, and will be construed in accordance
                  with the laws of, the State of California. By using this website, you
                  consent to the exclusive jurisdiction and venue of the state and federal
                  courts in Santa Clara County, California in all disputes arising out of
                  or relating to this Agreement or use of this website.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
