.container {
  .header-image img{
    border-radius: 5px;
    margin-top: 10px;
  }

  .meta-data {
    span {
      color: $gray-text-color;
    }

    a {
      color: $gray-text-color;
    }

  }

  .content {
    p {
      line-height: 35px;
    }

    .sharethis-inline-share-buttons {
      margin-bottom: 15px;

      .st-btn {
        margin-right: 15px !important;
        border-radius: 5px;
      }
    }

    .info {
      margin: 20px 0;
      display: flex;
      justify-content: space-between;

      .body {
        margin: 25px 0;

        h4 {
          margin: 20px 0;
        }
      }
    }
  }
}
