.hero-banner {
  width: 100%;
  margin: 0 auto;
  background-image: url('/assets/hero-banner.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 60%;

  .hero-banner-wrapper {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
      color: $white;
      font-size: 36px;
      max-width: 50%;
      vertical-align: center;
    }

    form {
      width: 100%;
    }

    .hero-search {
      width: 50%;
      margin: 30px auto;
      display: inline-block;

      .search-options {
        margin-top: 10px;
      	input[type="radio"] {
      		opacity: 0;
      		position: fixed;
      		width: 0;
      		&:checked {
      			+ {
      				label {
                background: $secondary-color;
                border-bottom: 5px solid $secondary-color;
                color: $black;
      				}
      			}
      		}
      	}
      	label {
      		display: inline-block;
      		padding: 10px 20px 5px;
          vertical-align: bottom;
      		font-size: 16px;
          border-radius: 4px 4px 0 0;
          background: $white;
          border-bottom: 5px solid $white;
      		&:hover {
            border-bottom: 5px solid $dark-color;
      		}
      	}
      }

      input[type="text"] {
        border-radius: 25px;
      }

      button {
        position: absolute;
        color: $primary-color;
        background-color: $secondary-color;
        margin-top: 3px;
        height: 50px;
        margin-left: -102px;
        border-radius: 25px;
        width: 100px;
        font-size: 15px;
        border: none;
      }
    }
  }
}

.home-page {
  h2 {
    font-size: 24px;
    padding: 15px 0;

    a {
      color: $secondary-color;
    }
  }

  .artists-near-you {
    .home-section-header {
      h1 {
        font-size: 20px;
      }

      h2 {
        margin: 15px 0;
      }
    }

    .see-more-section {
      button {
        border-radius: 25px;
      }
    }
  }

  .studios-near-you {
    margin-top: 10px;

    .home-section-header {
      margin-bottom: 22px;

      h1 {
        font-size: 42px;
      }

      h2 {
        margin: 15px 0;
      }

      .chevron-navigation {
        float: right;
        margin: 35px 15px 0 0;

        button {
          width: 50px;
          height: 50px;
          border-radius: 25px;
          border: 1px solid $gray-text-color;
        }
      }
    }

    .see-more-section {
      button {
        border-radius: 25px;
      }
    }
  }

  .scrolling-widget-list {
    overflow-x: auto;
    overflow-y: hidden;
    cursor: pointer;
    display: flex;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .listing-widget {
      width: 240px;
      height: 220px;
    }
  }
}
