.profile-head-area {
  padding: 40px 0;
}

.s-profiles {
  .s-profile-img {
    width: 100px;
    height: 100px;

    img {
      border: 6px solid $text-white;
      border-radius: 50%;
    }
  }

  .s-profile-info {
    margin-left: 30px;

    h1 {
      margin-bottom: 10px;
    }

    .s-rating {
      span {
        color: $gray-text-color;

        strong {
          color: $text-color;
        }

        i {
          color: $secondary-color;
        }
      }
    }
  }
}

.about-studio-time {
  position: relative;

  .studio-date-time {
    border: 1px solid $border-color;
    border-radius: 6px;
    background: $white-bg;
    padding: 16px 50px 16px 40px;
    position: relative;
    cursor: pointer;

    &::after {
      content: '\e92e';
      font-family: "icomoon";
      position: absolute;
      right: 10px;
      font-size: 24px;
    }

    div {
      color: $dark-color;
    }

    .s-date {
      position: relative;

      &::after,
      &::before {
        background: $primary-color;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        left: -20px;
        content: "";
        top: 50%;
        transform: translateY(-50%);
      }

      &::after {
        width: 18px;
        height: 18px;
        opacity: 0.2;
        left: -24px;
      }
    }
  }

  .studio-date-time-dropdown {
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px $border-color;
    background-color: $white-bg;
    position: absolute;
    width: 100%;
    top: calc(100% + 10px);
    left: 0;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all ease;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: flex;
        justify-content: space-between;
        color: $gray-text-color;
        cursor: pointer;
        padding: 2px 0;

        &:hover {
          color: $dark-color;
        }
      }
    }
  }

  &.active .studio-date-time-dropdown {
    opacity: 1;
    visibility: visible;
    transition: 0.4s all ease;
  }

  &.active .studio-date-time::after {
    content: "\e92d";
  }
}

.sub-nav {
  border-bottom: 1px solid $border-color;
  padding-top: 20px;

  a {
    color: $dark-color;
    padding: 15px;
    border-bottom: 3px solid transparent;
    margin: 0 3px;
    font-weight: 700;

    &.active,
    &:hover {
      border-color: $secondary-color;
      color: $primary-color;
    }
  }
}

.view-all {
  font-size: 14px;
  color: $primary-color;
  font-weight: 700;

  &:hover {
    color: $secondary-color;
  }
}

.sub-header-margin {
  margin-bottom: 60px;
}

.about-studio-content {
  margin-bottom: 35px;

  h2 {
    margin-bottom: 50px;
  }
}

.about-studio-cta {
  margin-top: 30px;
}

.s-s-cta {
  background: $default-bg-color;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  padding: 25px 5px 15px;
  text-align: center;

  .s-s-img {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }

  p {
    font-size: 14px;
    font-weight: 700;
  }
}

.studio-img {
  max-width: 440px;
  margin-left: auto;

  img {
    border-radius: 16px;
  }

  .slick-dots {
    left: auto;
    right: 20px;
    bottom: 20px;
  }
}

.studio-address-item {
  margin-top: 70px;

  .studio-map {
    width: 370px;
    border-radius: 12px;

    iframe {
      border-radius: 12px;
    }
  }

  .studio-address {
    background: $default-bg-color;
    padding: 32px 40px;
    border-radius: 0 16px 16px 0;

    h2 {
      margin-bottom: 10px;
    }

    p {
      font-size: 20px;
    }
  }
}
// Reviews

.reviews-list {
  .single-review {
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    .review-img {
      width: 100px;
    }

    .review-content {
      width: calc(100% - 100px);
      padding-left: 40px;

      h3 {
        margin-bottom: 10px;
      }

      .client-rating {
        margin-bottom: 20px;
      }
    }
  }
}
// Artists

.artists-profile-info {
  padding-left: 30px;

  h4 {
    margin-bottom: 15px;
  }
}

.artists-profile-img {
  max-width: 96px;

  img {
    transform: translateZ(0);
    border-radius: 50%;
    height: 100px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    max-width: 96px;
  }
}

.artists-style {
  a:not(:first-child) {
    margin-left: 10px;
  }
}
// Responsive
@media (max-width: 991px) {
  .profile-banner-area {
    min-height: 250px;
  }
}
@media (max-width: 767px) {
  .s-s-cta {
    margin: 10px 0;
  }

  .studio-img {
    margin-top: 30px;
  }

  .studio-address {
    flex-direction: column;
    align-items: start !important;
    padding: 30px !important;

    .direction-btn {
      margin-top: 20px;
    }
  }

  .reviews-list {
    .single-review {
      .review-img {
        width: 60px;
      }

      .review-content {
        width: calc(100% - 60px);
        padding-left: 20px;
      }
    }
  }
}
