.article-container {
  margin-bottom: 20px;

  .article-image img {
    border-radius: 5px;
  }

  .article-meta-data {
    display: flex;
    margin-bottom: 20px;
    color: $gray-text-color;

    .article-author {
      margin-right: 10px;
    }

    .article-created-date {
      margin-left: 10px;
    }
  }


  .article-content {
    margin: 10px;

    h1 {
      margin: 14px 0 10px 0;
    }

    p {
      line-height: 35px;
    }

    .sharethis-inline-share-buttons {
      margin-bottom: 15px;

      .st-btn {
        margin-right: 15px !important;
        border-radius: 5px;
      }
    }

    .article-body {
      margin: 25px 0;
    }
  }
}

.image-item {
  margin: 20px 0;
}