// TA Colors
$font-stack : 'Cabin', sans-serif;
$font-icon : 'icomoon';
$primary-color: #1E1E1E;
$secondary-color: #FDCD3F;
$lightgray: #f2f2f2;
$text-color: #000;
$dark-color: #242424;
$text-white: #fff;
$white-bg: #fff;
$gray-text-color: #8c8c8c;
$footer-bg: #fafafa;
$btn-hover-color: #1E1E1E;
$border-color: #e9e9e9;
$black: #000000;
$white: #ffffff;
