<!-- Reviews -->
<div class="page-section">
  <div class="container">
    <div class="row align-items-center sub-header-margin">
      <div class="col-8">
        <div class="sub-header mb-0">
          <h2>Reviews (2314)</h2>
        </div>
      </div>
      <div class="col-4 text-right">
        <a class="view-all" href="#">View All <i class="ta-icon-angle-right"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="reviews-list">
          <div class="single-review d-flex flex-wrap">
            <div class="review-img">
              <a href="#">
                <img src="assets/img/profile-lg.png" alt="">
              </a>
            </div>
            <div class="review-content">
              <div class="client-name">
                <h3><a href="#">Alena Levin</a></h3>
              </div>
              <div class="client-rating">
                <i class="ta-icon-star-fill"></i>
                <i class="ta-icon-star-fill"></i>
                <i class="ta-icon-star-fill"></i>
                <i class="ta-icon-star-fill"></i>
                <i class="ta-icon-star-fill"></i>
              </div>
              <div class="client-review">
                <p>Pellentesque accumsan augue nisl, sed suscipit lacus commodo a. Cras dictum euismod tortor eget tincidunt. Ut turpis ex, hendrerit sed augue a, pharetra pellentesque ipsum. Maecenas tincidunt sollicitudin dui. Orci varius natoque
                  penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla fringilla turpis elit. Aenean at ex facilisis, mollis neque vitae, ornare erat.</p>
              </div>
            </div>
          </div>
          <div class="single-review d-flex flex-wrap">
            <div class="review-img">
              <a href="#">
                <img src="assets/img/profile-lg.png" alt="">
              </a>
            </div>
            <div class="review-content">
              <div class="client-name">
                <h3><a href="#">Alena Levin</a></h3>
              </div>
              <div class="client-rating">
                <i class="ta-icon-star-fill"></i>
                <i class="ta-icon-star-fill"></i>
                <i class="ta-icon-star-fill"></i>
                <i class="ta-icon-star-fill"></i>
                <i class="ta-icon-star-fill"></i>
              </div>
              <div class="client-review">
                <p>Pellentesque accumsan augue nisl, sed suscipit lacus commodo a. Cras dictum euismod tortor eget tincidunt. Ut turpis ex, hendrerit sed augue a, pharetra pellentesque ipsum. Maecenas tincidunt sollicitudin dui. Orci varius natoque
                  penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla fringilla turpis elit. Aenean at ex facilisis, mollis neque vitae, ornare erat.</p>
              </div>
            </div>
          </div>
          <div class="single-review d-flex flex-wrap">
            <div class="review-img">
              <a href="#">
                <img src="assets/img/profile-lg.png" alt="">
              </a>
            </div>
            <div class="review-content">
              <div class="client-name">
                <h3><a href="#">Alena Levin</a></h3>
              </div>
              <div class="client-rating">
                <i class="ta-icon-star-fill"></i>
                <i class="ta-icon-star-fill"></i>
                <i class="ta-icon-star-fill"></i>
                <i class="ta-icon-star-fill"></i>
                <i class="ta-icon-star-fill"></i>
              </div>
              <div class="client-review">
                <p>Pellentesque accumsan augue nisl, sed suscipit lacus commodo a. Cras dictum euismod tortor eget tincidunt. Ut turpis ex, hendrerit sed augue a, pharetra pellentesque ipsum. Maecenas tincidunt sollicitudin dui. Orci varius natoque
                  penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla fringilla turpis elit. Aenean at ex facilisis, mollis neque vitae, ornare erat.</p>
              </div>
            </div>
          </div>
          <div class="single-review d-flex flex-wrap">
            <div class="review-img">
              <a href="#">
                <img src="assets/img/profile-lg.png" alt="">
              </a>
            </div>
            <div class="review-content">
              <div class="client-name">
                <h3><a href="#">Alena Levin</a></h3>
              </div>
              <div class="client-rating">
                <i class="ta-icon-star-fill"></i>
                <i class="ta-icon-star-fill"></i>
                <i class="ta-icon-star-fill"></i>
                <i class="ta-icon-star"></i>
                <i class="ta-icon-star"></i>
              </div>
              <div class="client-review">
                <p>Pellentesque accumsan augue nisl, sed suscipit lacus commodo a. Cras dictum euismod tortor eget tincidunt. Ut turpis ex, hendrerit sed augue a, pharetra pellentesque ipsum. Maecenas tincidunt sollicitudin dui. Orci varius natoque
                  penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla fringilla turpis elit. Aenean at ex facilisis, mollis neque vitae, ornare erat.</p>
              </div>
            </div>
          </div>
          <div class="single-review d-flex flex-wrap">
            <div class="review-img">
              <a href="#">
                <img src="assets/img/profile-lg.png" alt="">
              </a>
            </div>
            <div class="review-content">
              <div class="client-name">
                <h3><a href="#">Alena Levin</a></h3>
              </div>
              <div class="client-rating">
                <i class="ta-icon-star-fill"></i>
                <i class="ta-icon-star-fill"></i>
                <i class="ta-icon-star-fill"></i>
                <i class="ta-icon-star-fill"></i>
                <i class="ta-icon-star-fill"></i>
              </div>
              <div class="client-review">
                <p>Pellentesque accumsan augue nisl, sed suscipit lacus commodo a. Cras dictum euismod tortor eget tincidunt. Ut turpis ex, hendrerit sed augue a, pharetra pellentesque ipsum. Maecenas tincidunt sollicitudin dui. Orci varius natoque
                  penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla fringilla turpis elit. Aenean at ex facilisis, mollis neque vitae, ornare erat.</p>
              </div>
            </div>
          </div>
          <div class="single-review d-flex flex-wrap">
            <div class="review-img">
              <a href="#">
                <img src="assets/img/profile-lg.png" alt="">
              </a>
            </div>
            <div class="review-content">
              <div class="client-name">
                <h3><a href="#">Alena Levin</a></h3>
              </div>
              <div class="client-rating">
                <i class="ta-icon-star-fill"></i>
                <i class="ta-icon-star-fill"></i>
                <i class="ta-icon-star-fill"></i>
                <i class="ta-icon-star-fill"></i>
                <i class="ta-icon-star-fill"></i>
              </div>
              <div class="client-review">
                <p>Pellentesque accumsan augue nisl, sed suscipit lacus commodo a. Cras dictum euismod tortor eget tincidunt. Ut turpis ex, hendrerit sed augue a, pharetra pellentesque ipsum. Maecenas tincidunt sollicitudin dui. Orci varius natoque
                  penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla fringilla turpis elit. Aenean at ex facilisis, mollis neque vitae, ornare erat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
