<div class="about-studio-time">
  <div class="studio-date-time d-flex align-items-center justify-content-between">
    <div class="s-date">Saturday</div>
    <div class="s-time">11:00 - 20:00</div>
  </div>
  <div class="studio-date-time-dropdown">
    <ul>
      <li><span class="day">Monday</span> <span class="time">Closed</span></li>
      <li><span class="day">Tuesday</span> <span class="time">11:00 - 20:00</span></li>
      <li><span class="day">Wednesday</span> <span class="time">11:00 - 20:00</span></li>
      <li><span class="day">Thursday</span> <span class="time">11:00 - 20:00</span></li>
      <li><span class="day">Friday</span> <span class="time">11:00 - 20:00</span></li>
      <li><span class="day">Saturday</span> <span class="time">11:00 - 20:00</span></li>
      <li><span class="day">Sunday</span> <span class="time">Closed</span></li>
    </ul>
  </div>
</div>
<div class="about-studio-cta">
  <div class="row">
    <div class="col-md-4">
      <div class="s-s-cta">
        <div class="s-s-img">
          <img src="assets/img/c1.svg" alt="">
        </div>
        <div class="s-s-content">
          <p>Consult with the Studio</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="s-s-cta">
        <div class="s-s-img">
          <img src="assets/img/c2.svg" alt="">
        </div>
        <div class="s-s-content">
          <p>Walk-ins Welcome</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="s-s-cta">
        <div class="s-s-img">
          <img src="assets/img/c3.svg" alt="">
        </div>
        <div class="s-s-content">
          <p>Cosmetic Tattos</p>
        </div>
      </div>
    </div>
  </div>
</div>
