<% if params[:styles].present? %>
  <% params[:styles].each do |style| %>
    <button type="button" class="selected-filters__items">
      <%= style %>
      <i class="selected-filters__close"></i>
    </button>
  <% end %>
<% end %>
