.btn {
  font-size: 16px;
  font-weight: 700;
  padding: 14px 42px;
  border-radius: 6px;
  display: inline-block;
  border: 1px solid transparent;
  line-height: normal;
  position: relative;
  background: $primary-color;
  color: $text-white;

  &:hover {
    background-color: $btn-hover-color;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.15);
    color: $text-white;
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    pointer-events: none;
    background-color: #dcd7d6;
    color: $gray-text-color;
  }

}

.btn-primary {
  background: $btn-primary-color;
  color: $text-white;
}
.btn-secondary {
  border-color: $btn-primary-color;
  color: $btn-primary-color;
  background-color: transparent;
}
.btn-with-icon {
  border-color: $primary-color;
  color: $primary-color;
  background-color: transparent;
}

.btn-primary,
.btn-secondary,
.btn-with-icon {
  &:hover {
    background: $btn-primary-hover-color;
  }

  &:active {
    background: $btn-primary-hover-color; 
    color: $text-color;
  }
}

.btn-alternative {
  background-color: $secondary-color;
  color: $text-white;
}
.btn-sm {
  padding: 6px 15px;
}
.btn-lg {
  min-width: 190px;
  text-align: center;
}
.btn-style {
  border-color: $dark-color;
  background-color: transparent;
  color: $dark-color;
  font-weight: 500;
  font-size: 14px;
  padding: 14px 20px;
}
.btn-style-alt {
  background-color: $secondary-color;
  color: $text-white;
  font-weight: 500;
  font-size: 14px;
  padding: 14px 20px;
  border-radius: 30px;
}