// TA Colors
$primary-color: #1E1E1E;
// $secondary-color: #FDCD3F;
// $secondary-color: #f6cb6a;
$secondary-color: #ecb22d;
$lightgray: #f2f2f2;
$text-color: #000;
$dark-color: #242424;
$text-white: #fff;
$white-bg: #fff;
$gray-text-color: #8c8c8c;
$default-bg-color: #fafafa;
$btn-hover-color: #1E1E1E;
$border-color: #e9e9e9;
$black: #000000;
$white: #ffffff;
$btn-primary-color: #1E1E1E;
$red-gradient: #d45a45;
// $btn-primary-hover-color: #FDCD3F;
// $btn-primary-hover-color:  #f6cb6a;
$btn-primary-hover-color: #ecb22d;
$yellow-gradient: #aa780b;
