$default-font : 'Noto Sans', sans-serif;
$default-font-italic : 'Noto Sans Italic', sans-serif;
$default-font-bold: 'Noto Sans Bold', sans-serif;
$default-font-bold-italic: 'Noto Sans Bold Italic', sans-serif;

$font-icon : 'icomoon';
