<p>Hello,</p>

<p>You have been invited as an artist to TrueArtists. Get started by clicking the link provided below.</p>

<p><%= link_to "Get Started", Rails.application.credentials[Rails.env.to_sym][:HOST] %> </p>


<p>Cheers!</p>