<p>Hello,</p>

<p>You have been invited by to join <b><%= @studio_name %></b> on TrueArtists. Get started by clicking the link provided below.</p>

<p><%= link_to 'Get Started', "#{ENV.fetch('HOST')}/api/v1/studio-invites/accept-invite?token=#{@invite_token}" %> </p>


<p>TrueArtist Team</p>
