<p>Hello,</p>

<p>You have been invited as an artist to TrueArtists. Get started by clicking the link provided below.</p>

<p><%= link_to 'Get Started', "#{ENV.fetch('HOST')}/api/v1/studio-invites/accept-invite?token=#{@invite_token}" %> </p>


<p>Cheers!</p>
