<p>Hi <%= @studio.name %>,</p>

<p>Thank you for filling out your profile and submitting your application to join TrueArtists.</p>

<p>We have reviewed your profile and your portfolio of work.  Unfortunately, to continue to process your application, we need your portfolio of work to be cleaned up a bit.  The images you have submitted are not all up to TrueArtist standards - either not all of the artwork you submitted is of the same quality, or the photos themselves are blurry or otherwise of lower quality.  Please check your portfolio again and make sure only your best images are uploaded both in quality of the photo and quality of your work.  Please do this during the next two weeks as we will review your portfolio again, two weeks from today, and at that time we will either approve or reject your application.</p>

<p>Also, please make sure your profile is filled out completely, an incomplete profile may cause your application to be delayed or rejected as well.   We do not approve based on one tattoo but rather on the larger portfolio of your work.  So please make sure that you have submitted enough (5 minimum) of your top quality tattoos for your best chance of being accepted.</p>


<p>Regards,</p>

<p>The TrueArtists Team</p>
