<p>We'd like to remind you to upload new tattoo photos on TrueArtists.</p>

<p>Our data shows that Tattoo Shops with newer photos tend to receive most customer bookings.</p>

<p><%= link_to 'Click Here', "#{ENV.fetch('ACCOUNT_SERVICE_URL')}/dashboard/upload-tattoos" %>, to upload more photos.</p>

<p>Best Regards</p>

<p>TrueArtists Team</p>
