.main-header-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	height: calc(#{($header-height + $top-promo-height) * $rem});

	.promo-banner-top {
		line-height: 1.09;
		height: auto;

		&:hover {
			text-decoration: none;
		}
	}
}

.main-header {
	position: relative;
	height: #{$header-height * $rem};
	background: #fff;
	transition: 0.2s all 0s;

	&.header-fixed {
		box-shadow: 0 0 2 * $rem rgba(0, 0, 0, 0.4);
	}
}

.logo {
	width: 220 * $rem;
	display: block;
	position: absolute;
	top: 20 * $rem;
	left: 47%;
	margin-left: -88 * $rem;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}

	h4 {
		text-align: center;
		color: #343434;
		font-size: 14px;
		margin: 5px 0;
		text-decoration: none;
		font-weight: normal;
	}

	img {
		max-width: 100%;
		margin: auto;
		display: block;
	}
}

.header-right {
	position: absolute;
	top: 23 * $rem;
	right: 65 * $rem;
}

.menu-btn {
	width: 50 * $rem;
	padding: 10 * $rem;
	margin-right: 5 * $rem;

	> div {
		background: #343434;
		height: 4 * $rem;
		margin: 6 * $rem 0;
	}
}

.menu-wrap {
	font-size: 16 * $rem;
	cursor: pointer;

	> * {
		display: inline-block;
		vertical-align: middle;
	}
}

.menu-wrap {
	position: absolute;
	top: 22 * $rem;
	left: 33 * $rem;
}

.search-wrap {
	display: inline-block;
	vertical-align: middle;
}

.search-btn {
	display: block;
	height: 59 * $rem;
	width: 59 * $rem;
	background: #F9F2F2;
	border-radius: 100%;
	color: #343434;
	text-align: center;
	font-size: 24 * $rem;
	line-height: 61 * $rem;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.social {
	list-style: none;
	padding: 0;
	margin: 0 56 * $rem 0 0;
	color: #343434;
	font-size: 24 * $rem;
	display: inline-block;
	vertical-align: middle;

	li {
		display: inline-block;
		vertical-align: middle;
		margin: 0 12 * $rem;
	}

	a {
		display: block;
		text-decoration: none;
		color: #343434;

		&:focus,
		&:hover {
			text-decoration: none;
		}
	}
}

.menu-bg {
	background: rgba(28, 28, 28, 0.45);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1001;
	display: none;
}

.menu-container {
	position: fixed;
	top: 0;
	left: -310 * $rem;
	height: 100%;
	width: 300 * $rem;
	z-index: 100000;
	background: #fff;
	transition: 0.6s all 0s;
}

.open-menu {
	.menu-container {
		left: 0;
	}
}

.menu-close {
	width: 27 * $rem;
	height: 30 * $rem;
	position: absolute;
	padding: 5 * $rem;
	top: 37 * $rem;
	right: 22 * $rem;
	cursor: pointer;

	> * {
		height: 2 * $rem;
		background: #343434;

		&:first-child {
			transform: rotate(45deg);
			position: relative;
			top: 7 * $rem;
		}

		&:last-child {
			transform: rotate(-45deg);
			position: relative;
			top: 5 * $rem;
		}
	}
}

.logo-menu {
	display: block;
	text-decoration: none;
	width: 106 * $rem;
	position: absolute;
	top: 35 * $rem;
	left: 92 * $rem;

	img {
		width: 100%;
		display: block;
		margin: 0;
	}
}

.social-menu {
	list-style: none;
	padding: 8 * $rem 0;
	margin: 0;
	text-align: center;
	border-top: 1px solid #F3F3F3;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;

	li {
		display: inline-block;
		vertical-align: middle;
		margin: 0 13 * $rem;
	}

	a {
		color: #343434;
		text-decoration: none;

		&:focus,
		&:hover {
			text-decoration: none;
		}
	}

	.icon {
		font-size: 24 * $rem;
	}
}

.main-nav {
	position: absolute;
	top: 110 * $rem;
	left: 0;
	width: 100%;
	bottom: 70 * $rem;
	overflow: hidden;

	ul {
		padding: 0;
		margin: 0;
		list-style: none;

		&.main-nav-menu {
			height: 100%;
			overflow-y: auto;
		}
	}

	a {
		display: block;
		color: #343434;
		text-decoration: none;
		padding: 6 * $rem 24 * $rem;

		&:focus,
		&:hover {
			text-decoration: none;
		}
	}

	li {
		&.has-subnav {
			a {
				display: flex;
				align-items: center;

				.icon {
					margin-left: auto;
				}

				&[aria-expanded="true"] {
					.icon {
						transform: rotate(180deg);
					}
				}
			}

			ul.main-subnav {
				padding-left: 1rem;
			}
		}
	}
}

ul.main-subnav {
	a {
		font-size: 12 * $rem;
		text-transform: uppercase;
	}
}
@media (max-width: 1230px) {
	.main-header-wrapper {
		// height: calc(#{($header-height + $top-promo-height) * $rem});
		.promo-banner-top {
			a {
				// height: $top-promo-height * $rem;
			}

			.caption {
				padding-top: 0.8em;
				padding-bottom: 0.8em;

				b {
					display: none;
				}
			}

			.caption,
			.cta {
				padding-top: 0.55em;
				padding-bottom: 0.55em;
			}

			.cta {
				padding-left: 0.8em;
			}
		}
	}
}
@media (max-width: 450px) {
	.logo {
		width: 18.75rem;
		top: 0;
		left: 40%;
		margin-left: -5.5rem;
		margin-top: 15px;

		img {
			width: 16.75rem;
		}
	}
	.main-nav {
		a {
			font-size: 22 * $rem;
		}
		li.has-subnav a {
			font-size: 22 * $rem;
		}
	}
	ul.main-subnav {
		a {
			font-size: 20 * $rem;
			text-transform: capitalize;
		}
	}
}
@media (max-width: 767px) {
	.social {
		display: none;
	}

	.menu-wrap {
		left: 8px;
	}

	.header-right {
		right: 8px;
	}
}
