.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.9em;
	font-weight: normal;
	font-family: futura,Helvetica;
}

body {
	color: #373737;
}

.main-width {
	max-width: 1200 * $rem;
	margin: auto;
	padding: 0 15px;
}

.main-content {
	padding: $main-content-padding-top * $rem 0 100 * $rem 0;
}

.margin-main {
	margin-bottom: 65 * $rem;
}

.margin-main2 {
	margin-bottom: 36 * $rem;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
.quote {
	text-align: center;
	font-size: 16 * $rem;
	margin-bottom: 38 * $rem;

	p {
		margin-bottom: 10 * $rem;
	}
}

.quote-content {
	font-size: 24 * $rem;
	line-height: 1.75;
	font-family: futura;

	p {
		margin: 0 0 20 * $rem;
	}
}

.gallery {
	margin-bottom: 36 * $rem;

	.row {
		margin-left: -3 * $rem;
		margin-right: -3 * $rem;

		> * {
			padding-left: 3 * $rem;
			padding-right: 3 * $rem;
		}
	}
}

.gallery-one {
	display: block;
	margin-bottom: 6 * $rem;
}

.gallery-title {
	text-align: center;
	font-style: italic;
	margin: 19 * $rem 0 0;
}

.social-style-wrap {
	overflow: hidden;
	text-align: center;
	margin: 48 * $rem 0 43 * $rem;
}

.social-style {
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	display: inline-block;
	vertical-align: top;

	li {
		margin: 0 15 * $rem;
		display: inline-block;
		vertical-align: top;
	}

	a {
		display: block;
		height: 50 * $rem;
		width: 50 * $rem;
		border-radius: 100%;
		line-height: 46 * $rem;
		text-align: center;
		border: 1px solid #B6B6B6;
		text-decoration: none;

		&:focus,
		&:hover {
			text-decoration: none;
		}
	}

	&:after,
	&:before {
		content: "";
		border-top: 1px dashed #B6B6B6;
		position: absolute;
		top: 50%;
		width: 1000 * $rem;
	}

	&:before {
		left: 100%;
		margin-left: -15 * $rem;
	}

	&:after {
		right: 100%;
		margin-right: -15 * $rem;
	}

	.icon {
		color: #343434;
		font-size: 26 * $rem;
		vertical-align: middle;
	}

	.icon-envelope {
		font-size: 24 * $rem;
	}
}

.nav-post {
	margin-bottom: 17 * $rem;

	a {
		color: #373737;
		text-decoration: none;
	}

	p {
		font-weight: 700;
		font-size: 14 * $rem;
		margin-bottom: 10 * $rem;
	}

	h3 {
		font-family: futura;
		font-weight: normal;
	}
}

.tags {
	padding: 0;
	margin: 0 0 45 * $rem;
	list-style: none;

	li {
		display: inline-block;
		vertical-align: top;
		margin: 0 12 * $rem 10 * $rem 0;
	}

	a {
		color: #CB4D4D;
		display: block;
		padding: 12 * $rem 28 * $rem;
		border: 1px solid #fff3f3;
		font-size: 14 * $rem;
		min-width: 150 * $rem;
		text-decoration: none;
		text-align: center;
	}
}

.footer-section {
	background: #fafafa;
	padding: 86 * $rem 0 56 * $rem;

	h3 {
		font-family: futura;
		margin-bottom: 80 * $rem;
		color: #373737;
		text-align: center;
	}
}

.blog-thumb-title,
.sub-title-blog {
	font-size: 16 * $rem;
	font-weight: 500;
	color: #CB4D4D;
	margin-bottom: 7 * $rem;
	text-align: left;
}

.hero-cover {
	width: 100%;
	text-align: center;

	img {
		max-width: 100%;
		display: block;
		margin: auto;
	}
}

.post-section {
	display: block;
	text-decoration: none;
	margin: 40 * $rem 0;

	a {
		text-decoration: none;
	}

	h3 {
		a {
			color: #373737;

			&:hover {
				text-decoration: none;
				color: #CB4D4D;
			}
		}
	}
}

.blog-thumb,
.one-blog {
	display: block;
	text-decoration: none;
	color: #343434;
	margin-bottom: 30 * $rem;

	img {
		margin-bottom: 8 * $rem;
		width: 100%;
		display: block;
	}

	&:focus,
	&:hover {
		text-decoration: none;
		color: #343434;
	}
}

.blog-thumb-content,
.content-one-blog {
	min-height: 45 * $rem;
	padding-bottom: 1px;

	h4 {
		font-family: futura;
		margin-bottom: 20 * $rem;
		color: #373737;
		font-weight: normal;
	}

	h3 {
		font-size: large;
	}

	h2 {
		font-family: futura;
		color: #373737;
		font-size: 25 * $rem;
		margin-bottom: 0;
		line-height: 1.5em;

		a {
			color: #373737;
			text-decoration: none;
		}
	}
}

.post-teaser {
	p {
		font-size: 16px;
		margin-bottom: 0;
	}
}

.content-body {
	img {
		max-width: 100% !important;
		height: auto !important;
	}

	p {
		font-size: large;

		big {
			font-size: large;
		}
	}
}

.section-subcribe {
	background: #faf1f2;
	padding: 50 * $rem 0;

	h3 {
		font-weight: 900;
		margin: 0;
	}
}

.content-author {
	font-size: 14 * $rem;
	text-align: center;
	color: rgba(32,33,37,.54);
	&.list {
		text-align: left;
	}
	.line {
		margin: 0 10 * $rem;
		display: inline-block;
		vertical-align: middle;
	}
}

.one-blog2 {
	margin-bottom: 80 * $rem;

	.content-author {
		font-size: 14 * $rem;
		text-align: center;
		margin-bottom: 18 * $rem;
	}

	.sub-title-blog {
		text-align: center;
		margin-bottom: 20 * $rem;
	}

	.content-one-blog {
		min-height: 72 * $rem;
		text-align: center;
	}

	h3 {
		line-height: 1.16;
		margin-bottom: 16 * $rem;
	}

	img {
		margin-bottom: 17 * $rem;
	}
}

.blog-wrap {
	font-family: Charter, Georgia, Times;
	margin-left: -23 * $rem;
	margin-right: -23 * $rem;

	> * {
		padding-left: 23 * $rem;
		padding-right: 23 * $rem;
	}
}

.subcribe-form {
	.form-control {
		border-color: #fff;
	}
}

.sub-title {
	font-size: 18 * $rem;
	font-weight: 400;
	color: #CB4D4D;
	margin: 0;
	text-align: center;
}

.title {
	font-family: futura;
	font-size: 40 * $rem;
	font-weight: normal;
	text-align: center;
	margin: 0 0 18 * $rem;
}

.hero-section {
	padding: 50 * $rem 0;
	font-size: 0;
	text-align: center;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	position: relative;

	&:before {
		content: "";
		display: block;
		background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 69.23%, rgba(0,0,0,0.64) 100%);
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
	}

	&:after {
		content: "";
		display: inline-block;
		vertical-align: bottom;
		height: 350 * $rem;
	}

	> .main-width {
		display: inline-block;
		vertical-align: bottom;
		font-size: 1rem;
		text-align: left;
		width: 100%;
		position: relative;
		z-index: 2;
	}

	h1 {
		font-size: 62 * $rem;
		font-family: futura;
		font-weight: normal;
		margin: 0;
		line-height: 1.1;
		color: #fff;
	}

	h5 {
		font-weight: normal;
		margin: 0;
		color: #fff;
	}
}

.section-content {
	padding: 68 * $rem 0 0;
}

.btn-load {
	margin-top: 40 * $rem;
	text-align: center;
}

.hero-slider {
	overflow: hidden;
}

.one-slide {
	display: block;
	color: #fff;
	text-decoration: none;
	position: relative;
	padding-top: 52%;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 5 * $rem;
	width: 700 * $rem;
	margin: 0 22 * $rem;
	position: relative;

	&:after {
		content: "";
		height: 156 * $rem;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 1;
	}

	&:focus,
	&:hover {
		text-decoration: none;
		color: #fff;
	}
}

.one-slide-text {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 20 * $rem 40 * $rem;
	z-index: 2;
	min-height: 124 * $rem;

	h5 {
		margin: 0;
		font-size: 28 * $rem;
		line-height: 38 * $rem;
		font-weight: normal;
		background: #fff;
		color: rgb(52, 52, 52);
		padding: 10px;
	}
}

.btn-left {
	position: absolute;
	top: -5 * $rem;
	left: 0;
}

.btn-right {
	position: absolute;
	top: -5 * $rem;
	right: 0;
}

.header-page {
	padding-top: 35 * $rem;
	margin-bottom: 20 * $rem;
}

.social-block {
	padding: 0;
	margin: 30 * $rem 0 0;
	list-style: none;
	color: #555555;
	list-style: none;
	text-align: center;

	li {
		margin-right: 16 * $rem;
		display: inline-block;
		vertical-align: middle;

		&:last-child {
			margin-right: 0 * $rem;
		}
	}

	span {
		display: inline-block;
		vertical-align: middle;
	}

	i {
		color: #343434;
		display: inline-block;
		vertical-align: middle;
		margin-right: 18 * $rem;
	}
}

.quote-icon {
	margin-bottom: 5 * $rem;

	i {
		font-size: 64 * $rem;
	}
}

.sidebar {
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 10px;

	&.sticky {
		position: -webkit-sticky;
		position: sticky;
		top: 25%;
	}

	.ads-slot-wrapper {
		flex-basis: 99.9%;
		align-self: stretch;
		max-height: 240px;
		max-width: 240px;
		margin: 0 auto;

		.ad-section {
			box-sizing: border-box;
			width: 100%;
			margin: 0;
			padding: 5px 0;

			img {
				width: 100%;
				max-width: 100%;
			}
		}
	}

	img {
		max-width: 100%;
	}
}

.search_block {
	background: rgba(26, 26, 26, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1000;
	display: none;
}

.search-input {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: -35px;

	input {
		width: 450px;
		display: block;
		margin: auto;
		font-family: futura;
		font-size: 42px;
		color: #fff;
		background: transparent;
		border: none;
		border-bottom: 2px solid rgba(255, 255, 255, 0);
		height: 70px;
		padding: 0;
		outline: none;
		box-shadow: none;
		text-align: center;
		-webkit-transition: all 0.1s ease-in;
		transition: all 0.1s ease-in;

		&:focus {
			border-bottom: 2px solid rgba(255, 255, 255, 0.2);
		}
	}
}

.search-input input::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #fff;
	opacity: 1;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.search-input input::-moz-placeholder {
	/* Firefox 19+ */
	color: #fff;
	opacity: 1;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.search-input input:-ms-input-placeholder {
	/* IE 10+ */
	color: #fff;
	opacity: 1;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.search-input input:-moz-placeholder {
	/* Firefox 18- */
	color: #fff;
	opacity: 1;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.search-input input:focus::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	opacity: 0.2;
}

.search-input input:focus::-moz-placeholder {
	/* Firefox 19+ */
	opacity: 0.2;
}

.search-input input:focus:-ms-input-placeholder {
	/* IE 10+ */
	opacity: 0.2;
}

.search-input input:focus:-moz-placeholder {
	/* Firefox 18- */
	opacity: 0.2;
}

.close-search {
	color: #fff;
	font-size: 43px;
	position: absolute;
	top: 13px;
	right: 3.8%;
	cursor: pointer;
}
@media (max-width: 1230px) {
	html {
		font-size: 11px;
	}
}
@media (max-width: 767px) {
	.one-slide {
		width: 300px;
		margin: 0 3px;
	}

	.pagination-style ul {
		padding: 0 0 70px;
	}

	.btn-left {
		top: auto;
		bottom: 0;
	}

	.btn-right {
		top: auto;
		bottom: 0;
	}

	.pagination-style ul li {
		margin: 0 2px;
	}

	.pagination-style ul li a {
		width: 26px;
		height: 26px;
		line-height: 24px;
		font-size: 12px;
	}

	.section-subcribe h3 {
		margin: 0 0 20px;
		text-align: center;
	}

	.title {
		font-size: 2.2rem;
	}

	.search-input {
		input {
			width: 280px;
			font-size: 28px;
			height: 50px;
		}
	}

	.close-search {
		font-size: 26px;
	}
}
@media (min-width: 767px) {
	.one-blog {
		img {
			width: 100%;
			object-fit: cover;
			height: 200px;
		}
	}
}
@media (max-width: 450px) {
	.subcribe-form {
		.mailing-list-button {
			margin-top: 15px;
			font-size: 16px;
		}

		.form-control {
			font-size: 16px;
		}
	}

	.content-one-blog {
		h3 {
			font-size: 1.7em;
		}

		h4 {
			font-size: 16px;
		}
	}

	.content-body {
		p {
			font-size: large;

			big {
				font-size: large;
			}
		}

		h2,
		h3,
		h4 {
			font-size: large;
		}
	}

	.footer-section {
		padding-top: 10px;

		h3 {
			font-size: 18px;
			margin: 15px 0;
		}
	}
}
