<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="single-footer">
                        <h3>Useful Links</h3>
                        <ul>
                            <li><a href="#">Tattoos</a></li>
                            <li><a href="#">Artists</a></li>
                            <li><a href="#">Studios</a></li>
                            <li><a href="#">Watch</a></li>
                            <li><a href="#">Articles</a></li>
                            <li><a href="#">Guides</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-footer">
                        <h3>TrueArtists</h3>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Partners</a></li>
                            <li><a href="#">Press</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-footer">
                        <h3>Legal</h3>
                        <ul>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-footer">
                        <h3>For Artists & Studios</h3>
                        <ul>
                            <li><a href="#"><strong>TrueArtists Pro</strong></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center text-md-right">
                    <div class="footer-content d-flex align-items-center justify-content-center justify-content-md-end">
                        <div class="footer-copyright">
                            <p><a href="#">Privacy</a><a href="#">Terms</a> &copy; 2021 TrueArtists</p>
                        </div>
                        <div class="footer-logo">
                            <img src="assets/logo.png"
                                 alt="True Artists">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<%= javascript_tag "desktop_footer" %>
