<tr>
  <td style="padding:42px 30px 48px;background-color:#F7F7F7;">
    <h1 style="margin-top:0;margin-bottom:16px;font-size:30px;line-height:32px;font-weight:lighter;letter-spacing:-0.02em;">Hey There,<br/>you’ve made it.</h1>
    <p style="margin:0 0 36px 0;">Need to reset your password? No problem! Just click the button below and you’ll be on your way. If you did not make this request, please ignore this email. </p>

  </td>
</tr>
