<div class="search-section">
  <div class="search search-box">
    <i class="ta-icon-search basic-search"></i>
  </div>
  <input id="search-input" type="text" placeholder="Search...">
  <span class="search__close"></span>
</div>
